[2021-06-04 03:36] AFADoomer commented on #713
This should be good to go after 0d68d8dff574bc4b7296f503710d938a0dff4f49.

[2021-06-04 03:37] AFADoomer commented on #711
This should be complete now.  I added both tesla ammo and souls to the main status bar ammo count area; that was the last thing missing, I think.

[2021-06-04 03:39] AFADoomer commented on #697
This will need to be a map object placement change for the laser spawners...  The laser beams themself have no height; they are a basically just a model that follows the path of a hitscan tracer and inflicts damage if that hitscan path is broken.

[2021-06-04 04:34] Shockwave508 commented on #713
It introduced a new glitch when talking to Prof. Gutenberg. The dialogue option to give him an Eisenmann File/Mayan Artifact/etc. has a "store price" of $1. Thankfully nothing gets deducted if you select that option.
![Screenshot_2021-06-03-23-33-32-063_com opentouchgaming deltatouch](https://user-images.githubusercontent.com/32436386/120746096-28ad1d00-c4c4-11eb-887b-a29c62335698.jpg)

[2021-06-04 04:37] Shockwave508 commented on #747
The former is performing beautifully! I will note that the player's own grenades, if thrown too close to himself by accident, don't show the indicator until it's too late to react.

The latter, however, can be safely ignored.

[2021-06-04 04:39] AFADoomer commented on #713
That's what I get for doing a find-and-replace...

[2021-06-04 04:40] AFADoomer commented on #747
Yeah, I intentionally have it not show the player's grenade until at least a second has passed, so you don't immediately see an indicator when you throw one...  That can be tweaked.

[2021-06-04 04:46] AFADoomer commented on #713
OK, should be fixed in caa63c41be29656d6c3fb1e1a605394411aef048.

[2021-06-04 11:11] Username-N00b-is-not-available commented on #742
@Tormentor667 Here it is: [report_translated.pdf](https://github.com/Realm667/WolfenDoom/files/6598004/report_translated.pdf)

[2021-06-04 13:11] hawkwind3 opened #757 "[C3M0_A] Various issues"
C3M0_A ...

- [x] a) Tex on line 14616 ( bottom one ) and 14619 ( top and bottom) wrong Y offset.
- [x] b) Can walk through models at sector 3301 ? lions ?
- [x] c) Alignment issue at vertex 11214 ( lines 14387 and 14319.
- [x] d) Rolling boulders that end up at line 14316 can be walked through.
- [x] e) Wrong texture on lines 16108, 16124, 16114. Should be nors_t12.
- [ ] [moved to #906 --N00b]
-

[2021-06-04 13:31] AFADoomer commented on #757
As the conversation with Arlow details, you need to find the bag of chemicals so that he can make you an explosive charge.

Please stop calling things showstoppers just because you have not yet figured out how to progress on the map.

[2021-06-04 13:43] #711 closed

[2021-06-04 13:44] Tormentor667 commented on #747
For me it works perfect as it is now.

[2021-06-04 13:45] Tormentor667 commented on #752
I can't reproduce this rendering issue with the windows atm. Anyone else?

[2021-06-04 13:46] Tormentor667 commented on #697
@Shockwave508 can you share coordinates or screenshots?

[2021-06-04 13:47] #713 closed

[2021-06-04 13:56] AFADoomer commented on #747
Yes.  If we want it off by default, that's easy enough to change in CVARINFO.

[2021-06-04 14:11] Username-N00b-is-not-available commented on #724
I have quite a cold attitude towards achievements in general, but if thought over properly they could add a lot of replay value, maybe even more than the pre-packaged addons.
Personally I think the achievements should be tough challenges (possibly a bit luck-based), mostly map-specific ones, so the process of hunting them does not become boring. I wouldn't consider adding trivial ones at all, they

[2021-06-04 14:45] Tormentor667 commented on #747
Having it on by default is just right :)

[2021-06-04 14:45] #747 closed

[2021-06-04 18:55] Username-N00b-is-not-available commented on #396
Is ```ZyklonResistance``` used in any of the maps? @AFADoomer, could you please add it to an 'unofficial' secret place in C3M0_A (not mark it is as secret), possibly behind a puzzle as you originally intended?

[2021-06-04 19:09] Username-N00b-is-not-available commented on #724
Here are some ideas on the achievements, well, mostly obvious ones, but we need something to start with.
All achievements are obtained during single levels, but are remembered during the whole episode playthrough. Do not give any awards for CK levels (maybe except special CK achievements?).

<details><summary>List</summary>

- Perfectionist: Finished a level with 100% kills, secrets and treasure.

[2021-06-04 19:30] AFADoomer commented on #724
I haven't done much work on the implementation for this at this point, but all of those sound reasonable. My plan was to encode achievement completion in a cvar so that they would be resident across all playthroughs for that player.

[2021-06-04 19:59] Shockwave508 commented on #679
The script only works the first time you launch a Keen level, die, then return to HQ. If you do this cycle a second time, you still lose everything.

[2021-06-04 20:22] Username-N00b-is-not-available commented on #724
It would sadly be very easy to counterfeit that CVAR by modifying it in the configuration file or even from the console.

[2021-06-04 20:28] AFADoomer commented on #724
Not if I do a basic seeded algorithm to scramble it...  still could be reverse-engineered if someone digs through the scripts, but if they want to go to those lengths, they could fake it regardless.

[2021-06-04 20:57] mrmatteastwood commented on #556
I have this issue on a 1080 Ti on Linux Mint, driver 460.80. Another way to fix it is to set tone mapping to Reinhard.

[2021-06-04 20:59] mrmatteastwood opened #758 "Player's footsteps come from rear channels"
**Steps to Reproduce:**
1. Launch BoA in 5.1 or 7.1 surround
2. Launch Episode 1, Level 1
3. Walk around outside the HQ

**Current Results:**
The player's footsteps play from rear channels, making it seem like there's somebody following on the player's heels.

**Expected Results:**
Footstep sounds should play from the front channels.

[2021-06-04 22:34] AFADoomer commented on #758
I don't think that this is something we can control...  but I'll look into it.

[2021-06-05 06:51] hawkwind3 commented on #757
Additional stuff ...

g) Weird when moving from sector 9160 and 9054 ( translucent tex one side )
h) Need Thing Type 19342 at sector 7430 - Light model missing.

Question ...

Does the game finish after killing all the nazis in the nazi HQ ? Eventually a black screen shows up and the game then starts from the beginning at Allied HQ.

[2021-06-05 07:37] mrmatteastwood commented on #758
Yeah, I was wondering if perhaps this had something to do with the engine and/or OpenAL. I remember the same issue on the Brutal DOOM mod, where I "solved" it by disabling footstep sounds in the mod options. Perhaps there's a kind of delay on those sounds that doesn't manifest in stereo, but does in surround? Just spitballing, I honestly don't know.

Side note, BoA is fricking brilliant. I've been

[2021-06-05 08:34] Tormentor667 commented on #724
I think adding various "generic" achievements should be added as well, as some kind of "appetizer" - firing a certain amount of bullets, killing a certain amount of enemies, generic stuff of all kind.

[2021-06-05 08:43] Tormentor667 commented on #556
Do you have an idea why it happens and what could be done about it, if it's the lens-flare post-processor?

[2021-06-05 08:44] Tormentor667 commented on #742
Thanks alot @Username-N00b-is-not-available , time to rage-fix :)

[2021-06-05 09:02] Tormentor667 opened #759 "Table7 (ID 19145) creates a "floating meal""
![grafik](https://user-images.githubusercontent.com/10298439/120886287-75404780-c5ed-11eb-87b2-2c8507e1c2ad.png)
I think the problem is that these champagne glasses interfer with the meal size

[2021-06-05 09:52] Tormentor667 opened #760 "Radios continue playing music after being destroyed"
![grafik](https://user-images.githubusercontent.com/10298439/120887660-7f197900-c5f4-11eb-8a04-3a7cfbb46ff5.png)

[2021-06-05 09:56] Tormentor667 opened #761 "Clock model misses hands"
![grafik](https://user-images.githubusercontent.com/10298439/120887757-ff3fde80-c5f4-11eb-93f7-cb4fa902fff1.png)

[2021-06-05 09:57] #742 closed

[2021-06-05 10:01] MuadDib90 commented on #757
What do you mean?
Like the whole game? No.
Like this map? Yes.

Afaik this only happens if you played this map using console command. Otherwise it continuous as it should (with C3M2).
(This certainly is due to jumping accross maps using console commands, thus certain triggers weren't... well, triggered. So game starts from the beginning of E1.)

Yes. This happens, if you play the game regularly -

[2021-06-05 10:51] Talon1024 commented on #758
Do all the other sounds play at the correct position? If so, this may be something we can fix. If not, it's probably an OpenAL bug.

[2021-06-05 11:02] mrmatteastwood commented on #758
Positioning is correct in all other cases, yeah.

[2021-06-05 12:41] hawkwind3 commented on #757
I suspected it might be something like this, thanks.

[2021-06-05 12:59] Tormentor667 commented on #384
@Username-N00b-is-not-available would you be so kind and open single issues for each remaining bug in this bug-report thread here? It's easier to track things that way.

[2021-06-05 12:59] #384 closed

[2021-06-05 13:16] Tormentor667 commented on #643
Checked it, there is no message like that, you keep your arsenal. With the other bug being fixed, we can easily close this.

[2021-06-05 13:16] #643 closed

[2021-06-05 13:19] x3003 commented on #761
Maybe it got stolen by the nazis ?

[2021-06-05 13:20] Tormentor667 commented on #624
@Talon1024 @MuadDib90 is this still bugged?

[2021-06-05 13:21] #501 closed

[2021-06-05 13:22] Tormentor667 commented on #542
@Ozymandias81 can you open single issues for the things you mentioned, that still remain?

[2021-06-05 13:22] Tormentor667 commented on #546
@x3003 is this issue still active?

[2021-06-05 13:24] Tormentor667 commented on #499
For v3.1 we can stick to the latest stable official release.

[2021-06-05 13:26] Tormentor667 commented on #519
For this, the operations are meant to be played completely, so you can't just play C2M5_B without playing C2M5_A. If someone cheats to C2M5_B, he can also noclip or cheat himself some explosives.

That's the last remaining thing here, but what exactly needs to be done here?

[2021-06-05 13:26] #519 closed

[2021-06-05 13:26] Tormentor667 opened #762 "Externalize hard-coded data for 'using' wall textures from scripts to a data/config file and generalize implementation"
As mentioned by @Username-N00b-is-not-available in #519

[2021-06-05 13:29] #521 closed

[2021-06-05 13:30] #536 closed

[2021-06-05 13:30] #654 closed

[2021-06-05 13:36] Tormentor667 commented on #669
Can't reproduce playing C3M0_B a second time so I will close this.

[2021-06-05 13:36] #669 closed

[2021-06-05 13:38] Tormentor667 commented on #672
Updated with my sound

[2021-06-05 13:38] #672 closed

[2021-06-05 13:39] #542 closed

[2021-06-05 13:40] Tormentor667 commented on #558
So back to the translations, anyone an idea who we could ask for proofreading the other languages?

[2021-06-05 13:41] #560 closed

[2021-06-05 13:43] Tormentor667 commented on #562
The crosshair is still not activated by default, can someone take care of that? (@Talon1024 @Ozymandias81 @AFADoomer )

[2021-06-05 13:49] Username-N00b-is-not-available commented on #762
As indicated by the comment history, this was @AFADoomer's idea.

[2021-06-05 13:53] MuadDib90 commented on #558
Unfortunatelly no clue from my side... sorry

[2021-06-05 13:57] Tormentor667 commented on #572
Is the "Maximum Number alive" taking the class in consideration, the tid or both? I changed the count now in 523bc0dbc8cf3ae41833eef6c9ec35c4db235425 but I also noticed thath enemies do not spawn at all when the spawner is in my sight - not sure if it was different before.

[2021-06-05 14:00] Tormentor667 commented on #575
After investigating the map, I can safely say that this is a Delta Touch bug. The texture is properly scaled and aligned. Can you report thos to the DT-developers?

[2021-06-05 14:00] #575 closed

[2021-06-05 14:01] Tormentor667 commented on #576
As this is a Delta Touch specific issue, it needs to reported to the devs and can be safely closed here.

[2021-06-05 14:01] #576 closed

[2021-06-05 14:02] Tormentor667 commented on #599
@AFADoomer if I saw it correctly, you fixed it by pillarboxing the screens, is that right? Is the issue fixed here then?

[2021-06-05 14:02] #622 closed

[2021-06-05 14:03] Tormentor667 commented on #674
Same here, for me it works as intended.

[2021-06-05 14:03] #674 closed

[2021-06-05 14:04] Tormentor667 commented on #675
So has anything appeared on the Keen forums yet?

[2021-06-05 14:07] Username-N00b-is-not-available commented on #519
@Tormentor667 There were some features here that you marked as implemented a few minutes ago, but to my information work on some of them has not started yet. Does that mean we are discarding them? Just would like to know for sure.

[2021-06-05 14:07] Tormentor667 commented on #726
Found the issue and fixed it.

[2021-06-05 14:07] #726 closed

[2021-06-05 14:09] Tormentor667 commented on #519
I marked all which are taken care of and which have an own unique issue posted already that needs to be finished.

[2021-06-05 14:11] DoomJedi commented on #675
Nope...

[2021-06-05 14:18] AFADoomer commented on #762
Yeah, this is for me.  Just have to add a data file that defines sounds for textures, and a function to do the value lookups at runtime.

[2021-06-05 14:19] AFADoomer commented on #572
Yes.  I think the fog visibility threshold needs to be adjusted.

[2021-06-05 14:20] AFADoomer commented on #599
Should be fixed now, yes.

[2021-06-05 14:20] Username-N00b-is-not-available commented on #519
Well, to me there are at least five of them which have not been fixed or addressed in current issues, mostly small nitpicks like the tank MaxStepHeight and indication of jumped-off keys, but then there is ```Remove DECORATE-specific hacks from translated ZScript actor code```...

[2021-06-05 14:22] MuadDib90 commented on #624
Yes, now it is good.

Just discovered you can clip through all these beds as shown bellow:
![01](https://user-images.githubusercontent.com/73436978/120894681-0af1cc00-c61a-11eb-9d61-554d4b093e69.PNG)

But we can close this.

[2021-06-05 14:23] Username-N00b-is-not-available opened #763 "Explosions and sneakable enemies"
Sneakable patrolling enemies killed by player's deployable mine explosion do not increase player kill count (to test just enter ```notarget``` on C2M6_B, warp to (5000, 2700), ```give deployablemine``` and place the mine on path of one of the enemies).
Might be already fixed (copied from https://github.com/Realm667/WolfenDoom/issues/384#issuecomment-829908921).

[2021-06-05 14:25] Username-N00b-is-not-available opened #764 "Automap and C3M0_B ending sequence"
If there is a way to forcefully disable the automap right after the screen fades out for the C3M0_B ending sequence, it should probably be added, since you can end up with this (the game will not listen to automap controls in this menu, so it would not be possible to watch the cutscene):

![image](https://user-images.githubusercontent.com/59409713/116683071-c68a6500-a9b7-11eb-824c-30b01d5ea136.png

[2021-06-05 14:27] Username-N00b-is-not-available opened #765 "Commander Keen actor problems"
- [x] CKSmirky can teleport into a wall and get stuck.

![Screenshot_BoA_20210430_170016](https://user-images.githubusercontent.com/59409713/116705872-b41f2400-a9d5-11eb-914e-c974620f5d48.png)

- [x] The slug poison flatsprite does not align to slopes.

![Screenshot_BoA_20210430_170416](https://user-images.githubusercontent.com/59409713/116706359-3ad40100-a9d6-11eb-9ec6-66691f5c7c2c.png)

Both cou

[2021-06-05 14:29] AFADoomer commented on #763
Should already be fixed.

[2021-06-05 14:31] #763 closed

[2021-06-05 14:39] AFADoomer commented on #764
No good way, no.  There's no ZScript call to turn on/off the automap.

I could experiment with forcing the dmflags2 CVar value to not allow automap when the finale kicks off, but that's a hack.

[2021-06-05 15:23] Tormentor667 commented on #572
Anything I can do or do you take care of it?

[2021-06-05 15:23] #599 closed

[2021-06-05 15:24] Tormentor667 commented on #519
Well can you post unique issues for remaining bugs and issues?

[2021-06-05 15:48] AFADoomer commented on #679
OK, should be good after d7c244a3ad322418ceafc6312b64f5c7dd4a9de3.

[2021-06-05 15:50] AFADoomer commented on #765
I can't easily fix the first one.  He gets un-stuck by himself, so not game-breaking, just weird.

[2021-06-05 16:11] Tormentor667 commented on #624
Will fix that

[2021-06-05 16:11] #624 closed

[2021-06-05 16:13] Shockwave508 commented on #679
First run of a Keen level: Health is reset to 100%, but everything else stays, even Armor.
Second run/death in a Keen level. Health is reset to 100%, Armor stays, all Inventory items are lost, even the Keen Cartridge you were using.

[2021-06-05 16:21] AFADoomer commented on #679
OK, so the health is a problem...  Again.  *sigh*

But I just entered a Keen map, killed myself by jumping into tar, respawned in the lab, and repeated 5-6 times, and my inventory was restored each time.

Are you restoring from save at any point in your testing?

[2021-06-05 16:27] Shockwave508 commented on #679
Will start a fresh Episode 1 run. and get back to you on that.

[2021-06-05 16:46] AFADoomer commented on #765
Slime sloping fixed in d2edab386bda40992e36137d207e12ca7b80ba8c.

[2021-06-05 17:28] Talon1024 opened #767 "The end of C1M0 (Operation: Eisenmann) may be too hard"
For some people, the end of Operation: Eisenmann (C1M0) at the train station is too hard. Furthermore, there are Allied soldiers waiting there, and doing **nothing**, even though the station is surrounded by Nazis.

I watched a playthrough of that mission on a recent livestream ([VOD here](https://www.twitch.tv/videos/1045660248?t=03h20m00s)). There isn't much health or ammo to be found along the

[2021-06-05 17:39] Tormentor667 commented on #767
Well, having a final battle at the train station sounds fine for me, but we could make them fight the allied forces as well, having a little combat situation here.

[2021-06-05 17:41] #765 closed

[2021-06-05 17:51] Shockwave508 commented on #679
Can confirm that armor and inventory items are being restored after two or more Keen Level deaths. BJ's current health is still reset to 100%, no matter how high or low his health was when he plugged in the Keen Cartridge.

[2021-06-05 18:04] Tormentor667 commented on #679
Is this really a problem considering that you can maximize your health in the hq?

[2021-06-05 23:20] x3003 commented on #767
Well, the battle at the station isn't that bad. I normally clear that out first before going into the building. Think the main problem here, is that he ran out of ammo.

[2021-06-06 01:59] hawkwind3 opened #768 "Final C3M1_A issues"
C3M1_A ...

a) Wrong tex on line 3689 - should be CABN_F02.
b) Slight Y offset issue with lines 25901 and 26439.
c) Wrong tex on lines 7032 and 8079 - should be STON_G91

[2021-06-06 02:01] hawkwind3 opened #769 "C3M1_B"
C3M1_B ...

Stuck  mouse at line 9293, yet not shown on the map.
Screenshot attached.
![stuck mouse](https://user-images.githubusercontent.com/35204218/120910058-dedc5680-c6be-11eb-9738-27bcb88e0bc5.jpg)

[2021-06-06 06:03] DoomJedi commented on #724
As alot of stuff are breakable in this mod - I think finishing a level without breaking any scenery is a cool achievement.
Same we can go for "breaking all scenery in a level" - "Elephant in china shop" achievement.

Finishing without use of grenades?
Brutal achievement? How many enemies he killed in brutal death (burn, rpg etc)
Maybe achievement about how many enemies he caused to surrender to hi

[2021-06-06 07:03] hawkwind3 opened #770 "[C3M2] Objective inconsistency"
I took out the radar tower before getting the advice from Ascher to do so.
At this point I wondered what to do next, since I had achieved the primary objective up to this point.
So I then retrieved the tank and brought it back to Ascher. This allowed progression.
What I'm getting at here is this ... should not the retrieval of the tank be a primary objective at the start
of the map ?

[2021-06-06 08:42] Tormentor667 commented on #767
I will add some more ammo to the route leading to the trainstation.

[2021-06-06 08:42] #767 closed

[2021-06-06 09:03] #768 closed

[2021-06-06 09:07] #769 closed

[2021-06-06 09:12] Tormentor667 commented on #761
Fixed it.

[2021-06-06 09:12] #761 closed

[2021-06-06 09:56] Tormentor667 commented on #740
Added detailed pickup messages for everything that made sense to me, let me know if that works (implemented in english and german, other translations need to adjust)

Commit: 273d2cfd0eecc9d57f05f48dee7be1e340a86aae

[2021-06-06 09:58] #740 closed

[2021-06-06 10:03] Tormentor667 commented on #556
![grafik](https://user-images.githubusercontent.com/10298439/120920466-38dd1c00-c6bf-11eb-955d-5fb247561a92.png)

Added this to the webpage, will close as long as it is a hardware issue.

[2021-06-06 10:03] #556 closed

[2021-06-06 10:06] Tormentor667 commented on #675
Link for reference: https://pckf.com/viewtopic.php?f=6&t=10416&start=30

[2021-06-06 10:24] Tormentor667 commented on #697
The problem here is: If I set the laser spawners lower, you can jump over them. If they are higher, you can crouch under them. Instead could you "emulate height" by adding 2 additional invisible tracers 2-3 units above and below the main tracer?

[2021-06-06 10:53] Shockwave508 opened #771 "Language/Detailed Pickup Messages: Differentiate between 9mm and Rifle "Clips"?"
I noticed while testing the new pickup messages, that ammo for 9mm weapons (such as the Luger, Walther, MP40, and UMG) and rifles (as in, Gewehr 43 and Kar98k) are both referred to as "clips", regardless of how much ammo is picked up.

Perhaps denote 9mm ammo as "9mm Bullets" instead of "Clips".
And denote rifle ammo as "Rifle Bullets" instead of "Clips".

[2021-06-06 12:00] Username-N00b-is-not-available commented on #740
Oh, I remember writing a post in this issue yesterday, but it did not get sent for some reason...
What about making an addon for these messages, providing it as an optional behaviour?

[2021-06-06 12:40] Username-N00b-is-not-available commented on #771
An hour ago @Talon1024 changed it to 'bullets' for 9mm ammo and to 'rounds' for 7.92mm ammo. Thank you!

[2021-06-06 12:40] #771 closed

[2021-06-06 13:39] MuadDib90 commented on #682
Well, if there is no other idea or discussion for the topic, we can close this I guess.

[2021-06-06 14:06] Ozymandias81 commented on #753
I would have prefer to add them by myself, but I'll recheck the whole work and see what needs to be done. Please leave it to me now.

[2021-06-06 14:08] Ozymandias81 commented on #760
This was working previously, but also I remember that those radios were not breakable, or they had external ambientsound. In that case maybe someone changed target tag with something else. Will check.

[2021-06-06 14:10] Ozymandias81 commented on #759
This happen because probably table has been scaled, or the meal actor has been changed. It used to work fine with decorate version.

[2021-06-06 14:18] Ozymandias81 commented on #558
I might have an idea for spanish and french, will look

[2021-06-06 14:34] x3003 opened #772 "[3.2] Safe door problems"
If you fail to open the safe, the next time you press the use key, it shortly brings up the safe door / lock again, but closes the display again soon after. So you can't give it another try.

![Screenshot_Doom_20210606_162342](https://user-images.githubusercontent.com/77861029/120928226-0abe0300-c6e4-11eb-831e-194e904ee3f6.png)

I've seen it here as well: https://youtu.be/Y4Op81IadD8?t=3835

[2021-06-06 14:41] Tormentor667 commented on #759
Just checked it, it is not scaled in game. I have no idea what happened to the meal actor in general though.

[2021-06-06 14:42] Tormentor667 commented on #753
Sorry, I just wanted to support you with this stuff a bit :(

[2021-06-06 14:44] Tormentor667 commented on #682
Sure? I wonder what suggestions from your first posts have been realized and what are still to be discussed?

[2021-06-06 15:01] AFADoomer commented on #772
I can't recreate this in the current build...  Do you have specific instructions for recreating this?

Safes were reworked slightly after 3.0 release to make the interface easier, but I don't know what could be causing the problem seen in the video.

[2021-06-06 15:03] Ozymandias81 commented on #753
No worries, it's just the way I work... Gonna check now the added stuff.

[2021-06-06 15:10] x3003 commented on #772
Just give in a wrong code and press use or enter. After that when you try to work the safe again, the safe display doesn't stay up (later it works again).

[2021-06-06 15:50] MuadDib90 commented on #772
I am remembering to encounter the problem presented here, but on a built before v3.0 release. In v3.0 and after I couldn't recreate this anymore...

Well maybe the "bug" stayed in v3.0 somehow, but as @AFADoomer said, the logic was adjusted after. All I can say now, I can no longer do it. (So I guess it is a version specific history thing...)

[2021-06-06 15:51] Ozymandias81 commented on #760
I would like to know from which map that shot comes @Tormentor667

[2021-06-06 15:57] Tormentor667 commented on #760
Pretty sure it is C3M3_A, but I got this shot from the russian player who tested the mod (@Username-N00b-is-not-available translated this)

[2021-06-06 15:59] MuadDib90 commented on #682
@Ozymandias81 did some tweaks at ab39781.
And well.. this was only for discussion purpose primary. Not with _need to be done_ in mind anyway.
Wanted just to present one (my) point of view for some tweaks - hopefully for good. So if there is no further will to change anything other (in a good matter), I am totally OK with it. :)

[2021-06-06 16:23] Tormentor667 commented on #682
Well, the most valid points are these:

- Undead death angel (C3M6_B)
- Erik (C3M0_A)
- James Ryan (C3M3)
- Feldmarschall (C3M5_A)

So have they been touched yet?

[2021-06-06 16:49] MuadDib90 commented on #682
I can't edit your posts... answers above, afaik

[2021-06-06 16:56] Ozymandias81 commented on #760
The actor is destroyable, but no one gave to it remove thing special for the external sound.

![C3M3_A at 2021 06 06 18-54-59 948  R3782](https://user-images.githubusercontent.com/11136108/120933085-d30d8600-c6f8-11eb-9f63-b1d4cbbca146.jpg)

[2021-06-06 17:33] x3003 commented on #772
Hmm, strange I can reproduce it every time. Also had 1 gzdoom crash while trying, but I can't reproduce that one anymore.

[2021-06-06 17:51] MuadDib90 commented on #772
Well, the fact is, I didn't try that on purpose (with pre 27, or after it), it just didn't happened to me after the v3 release, because I knew about it, and back then I couldn't recreate it when testing, so I thought it was resolved.

I'll try it...

[2021-06-06 18:22] MuadDib90 opened #773 "Achievements implementation"
@AFADoomer I started a new issue as a base line for this.
If you want to share your thoughts about this, we can help you or maybe suggest something? :)

[2021-06-06 18:22] #760 closed

[2021-06-06 18:25] x3003 commented on #772
Well everything **is** up-to-date, even the drivers.

[2021-06-06 18:52] MuadDib90 commented on #772
Phew... idk what to do then, to "experience" it, to help it resolve.

[2021-06-06 18:56] AFADoomer commented on #772
I have tried many times to recreate this...  Intentional wrong combos, random spinning, pressing enter many times in the wrong place, not pressing enter at all, etc., and haven't been able to reproduce this.

[2021-06-06 18:58] AFADoomer commented on #724
Most of those are good ideas.  I think they will be pretty easy to implement.

Keep in mind that I need to be able to put a "hook" into the code somewhere to measure something for each achievement; anything with damage to Nazis (or inheriting classes), use of specific weapons, secret counts, reloading, etc. is relatively easy already.

Stealth checks will probably require some work; I'm not sure h

[2021-06-06 19:26] Tormentor667 commented on #772
@x3003 can you create a clean installation and retry?

[2021-06-06 19:27] Tormentor667 commented on #724
I can take care of the graphics as soon as I know which achievements we will go fot

[2021-06-06 20:17] DoomJedi commented on #724
How about average speed (moving speed) achievement?
Average kill rate achievement? Average kills per minute of play or whatever?
How about not picking at all ammo/health dropped my enemies, only standart pickup?
How about for picking ammo/health only from dead enemies, no normal pickups?

[2021-06-07 01:44] hawkwind3 opened #774 "C3M2 clipping issues"
The player can clip through the destroyed tank at x 8472, y-6506 and
can clip through the four destroyed flak cannons.

[2021-06-07 06:36] MuadDib90 commented on #773
@AFADoomer I saw you (maybe?) plan to implement some achievement icons? Should/can I try to think something up?

[2021-06-07 06:48] hawkwind3 opened #775 "C3M3_A issues"
C3M3_A ...

a) Can clip through the car at x 2483, y 7380.
b) Can partly clip through the tractor at x 1738, y 6429.
c) Destroyed radio at x 8026, y 7184 but it kept on working.
d) Need mirrored graphic at lines 12475 and 14534. ( maybe others for other maps ? )
e) Many of the flames of the chandeliers at sector 2213 do not match up with the candles. And the antlers of th deer skull need alignment

[2021-06-07 06:52] hawkwind3 opened #776 "[C3M3_B] Issues"
C3M3_B ...

- [x] a) Can clip through surrendered lab technician. (intended, stays as is --T667)
- [x] b) Trolley and barrel partly render into the wall.
- [x] c) Misalign ( or wrong texture ? ) at lines 7063 and 7055.
- [ ] [moved to #906 --N00b]

[2021-06-07 07:41] mrmatteastwood commented on #556
Would it make sense to add that changing the colour palette is a workaround that allows one to still play with lens flares?

When setting the colour palette to "Reinhard", the glitch disappears, only a small bit of black residue is left if you look closely. At the same time, I could barely discern any difference in the look and feel of the game (though I did turn down the saturation one notch).

[2021-06-07 09:49] Tormentor667 commented on #773
Did you check the other achievement issue? I will take care of these but feel free to support here :)

[2021-06-07 12:15] MuadDib90 commented on #773
Oops, I kinda overlooked that one... sorry. Heading there. :)

[2021-06-07 12:15] #773 closed

[2021-06-07 12:21] MuadDib90 commented on #724
I'd like to (try at least) help in this field too. :)

[2021-06-07 12:29] Username-N00b-is-not-available commented on #724
Did not test the system in game, but the code seems solid, and the 'security system' is just the right level (to not be editable by hand, at least). Thank you very much for the implementation, @AFADoomer! If you don't mind, here are some questions:
1. The CVAR is currently defined as user-scope, and is therefore saved into savegames, but not into the config file (I can be wrong here). Does it mean

[2021-06-07 12:54] Username-N00b-is-not-available commented on #772
Can confirm something like this happened on C1M4 before 3.0: https://github.com/Realm667/WolfenDoom/issues/384#issuecomment-826332511, I could also not reproduce it. Maybe some GZDoom glitch...

[2021-06-07 13:14] Username-N00b-is-not-available commented on #764
It seems to work instantly when using the console in plain Doom II, so a switch-on/off in two consecutive lines (triggered right before the menu shows up) could be enough. Definitely a hack, but considering how little the flag does https://github.com/coelckers/gzdoom/blob/4bcea0ab783c667940008a5cab6910b7a826f08c/src/am_map.cpp#L3347, it hopefully won't break the engine down.
***
Hmmm, what about a

[2021-06-07 13:15] hawkwind3 opened #777 "[C3M4] Issues"
C3M4 ...

- [x] a) Can partly walk through big gun at sector 3716
- [x] b) Can walk through fence railing at line 2439.
- [x] c) Tex align issue were vertices 1055 and 335 are.
- [x] d) Some more now you see it, now you don't pics ...
![now you see it c3m4](https://user-images.githubusercontent.com/35204218/121023024-3b866100-c7e6-11eb-8be5-c966af4634c1.jpg)
![now you don't see it c3m4](https://us

[2021-06-07 13:20] AFADoomer commented on #764
I tried...  The CVar values that control dmflags can only be changed from specific menu actions, and can't be set elsewhere, so this route won't work.

[2021-06-07 13:58] Username-N00b-is-not-available commented on #764
Maybe ```F_StartIntermission``` with an empty intermission could help? This line seems interesting: https://github.com/coelckers/gzdoom/blob/e963010eea58de0c6d3b1c4a03e7271e5449c0cd/src/intermission/intermission.cpp#L1012
It is also exposed to ZScript: https://github.com/coelckers/gzdoom/blob/a172513535486e870baf2d0328d11bbba32042f7/wadsrc/static/zscript/doombase.zs#L464

[2021-06-07 14:30] Username-N00b-is-not-available commented on #764
@AFADoomer Well, it is even more of a hack than the dmflags2 solution would have been, and has an unfortunate side effect (you'll see it for yourself), but here is a seemingly working example for Doom II: [removemap.zip](https://github.com/Realm667/WolfenDoom/files/6609798/removemap.zip)

[2021-06-07 15:01] Username-N00b-is-not-available commented on #753
Unrelated to Captain J's work, but about new sprites. Solid_Beard [announced on ZDoom forums](https://forum.zdoom.org/viewtopic.php?p=1191559#p1191559) that he intends to draw sprite variations for some of the soldiers for a mod/addon.
I think it would be technically possible to add them to baseline BoA (if they fit), and in a much easier and cleaner way than DECORATE monster randomizer mods do —

[2021-06-07 16:26] Tormentor667 commented on #753
I like that actually, brings some more variety to the mod and if it is doable, I am all in :)

[2021-06-07 17:33] Tormentor667 commented on #724
Some achievement ideas:

- Unlock Operation Eisenmann (collect all Eisenmann Files)
- Unlock Operation Astrostein (collect all Mayan Artifacts)
- Full Arsenal (collect each weapon at least once)
- Chief Physician (use 20 fieldkits)
- Treasure Hunter (open 20 treasure chests)
- Gold Digger (collect 1000 gold)
- Stay Dead (kill 50 soldiers which revived and attacked you sitting)
- Gib'em all! (make

[2021-06-07 17:38] MuadDib90 commented on #724
Hi, here are some of my drafts. Size 32x32 as @AFADoomer wanted.
This is just for discussion, and to get an idea, and also as a starting point.

The idea behind it is a frame in which is a some icon, that represent the achievement. The green background means it has something to to with "not to do something" or "be it a peaceful way". Yellow to orange background means it has to do marginally someth

[2021-06-07 17:41] MuadDib90 commented on #724
As for my opinion, I am really against all achievements, that could be achieved only by reguraly playing the game. That breaks the idea behind it. You have to do something **in addition** to achieve it - that's the point. But that is just my point of view. :)

[2021-06-07 18:11] Ozymandias81 commented on #753
Added all sprites, 126 brightmaps still needs to be included and I already have an idea for the new boss. I just need the name though, any suggestions? Attacks will be bullets, mortars and zyklon mortars, that's why I also added zyklon colored variants for shoulder attacks

[2021-06-07 18:11] AFADoomer commented on #724
They do serve the purpose of showing the player how achievements work, though.

I like all of these suggestions, and most are easy enough to implement...  I don't know that we have a good way of tracking total gameplay time right now, though.

[2021-06-07 18:16] MuadDib90 commented on #724
Well, I can understand this, if there are 2 achievements that are there only for that purpose; and are in a good way executed. Otherwise it is what I said. - Again, no hard feelings, only my point of view.

[2021-06-07 18:17] x3003 commented on #772
It's not about opening the safe. Just give in a wrong combo, enter and step away from the safe. Then try again pressing the use key.
And yes, I even have it on a fresh profile with opengl instead of vulkan.

[2021-06-07 18:24] MuadDib90 commented on #772
I know **exactly** what you are talking about, trust me, but I am still unable to do it (as I was able in the past)... I am really sorry. :(

[2021-06-07 18:28] Username-N00b-is-not-available commented on #724
Incrementing a counter in WorldTick calls does not seem to be a good solution from the performance perspective :-) , but maybe we can add ```level.maptime``` to the counter on map endings, similarly to MapStatsHandler.

[2021-06-07 18:34] AFADoomer commented on #724
Probably the actual WorldUnloaded call.  Need to try to rework how the level exit calls are run anyway, since they only work for crossing lines and 'using' NPCs, not exiting via scripts or console.

[2021-06-07 19:01] MuadDib90 commented on #724
OK, I'll wait. :)

[2021-06-07 19:53] Talon1024 commented on #772
Does this still happen after opening and closing the main menu (ESC while ingame)?

[2021-06-07 20:07] Shockwave508 opened #778 "[3.2] HUD Messages: Obiturary Message issues."
1) If you are killed by means of any projectile, that projectile's name will be printed above the relevant death obituary. Known prints are Bullet, Fire, and None (for explosions).
![Screenshot_2021-06-07-11-14-14-468_com opentouchgaming deltatouch](https://user-images.githubusercontent.com/32436386/121081174-f5a7a980-c7a1-11eb-9883-64d5370d4dd5.jpg)

2) If you repeatedly die from the same enemy t

[2021-06-07 20:57] AFADoomer commented on #778
Oops, number 1 is debug code that I forgot to remove.

[2021-06-07 22:16] Shockwave508 opened #779 "Scuba Gear: Pickup sprite isn't scaled properly."
The pickup sprite for the Scuba Gear isn't scaled properly, and appears very small and ill-fitting wherever it spawns.

![Screenshot_2021-06-07-12-44-20-460_com opentouchgaming deltatouch](https://user-images.githubusercontent.com/32436386/121094270-fc3f1c80-c7b3-11eb-81c4-ce316996aded.jpg)

[2021-06-08 01:25] hawkwind3 opened #780 "[C2M2] Drone cubicles"
c2m2 Drone cubicles

Can walk straight through into sector 5976 ( drone still in it ) even though it seems to be inaccessible ( appears closed ). Also many of the other drone cubicles seem to be open, yet the player cannot access them, even with crouch. Applies to the aftermath of the first drone fight.

[2021-06-08 03:40] hawkwind3 opened #781 "[C3M0_B] Ryan mission"
C3M0_B ...

- [ ] a) Monster cannot exit the "closet" at sector 725.
- [x] b) Can partly walk through destroyed tanks at x 5014, y -4625 and x 6448, y -4694.
- [ ] c) Some areas of ceiling of sectors 396 and 1360 render at a different brightness level for some reason.
- [x] d) Telephone way too low at x 7675, y -4114.

[2021-06-08 04:12] madame-rachelle opened #782 "Edgy content"
Let me preface this by saying that while I act only for myself and am expressing my own views of certain opinions that were expressed about this mod on Doomworld. I happen to agree at least partially with some of the concerns that were raised.

The two posts that are relevant in question (that I have drawn quotes from, particularly) are here:
* https://www.doomworld.com/forum/post/2328038
* https:

[2021-06-08 07:15] Shockwave508 commented on #782
In regards to the "Master Race" difficulty, it has already been renamed to "This Is A Blazkowicz Job".

And the nude lady gore sprites were recently removed in the current devbuilds, partly because the gratuitous nature, and also because they're leftover assets that aren't used at all in the game.

[2021-06-08 09:23] DoomJedi commented on #782
I come from a history of 1-2 controversial mods (both holocaust and nudity wise), and so my general tendency is clearly against censoring of a game in any way (and in this case - especially on issues barely any person had/posted/made aware issue with).
I did give up eventually on many issues about one of my mods (but not the other) and over-censored them, but it's for my particular case.
Though I

[2021-06-08 09:43] madame-rachelle commented on #782
Just a few thoughts - did Romero head felt offensive to Romero? No.
But indeed, tribute sounds like...positive thing/representation, like it is for Laz and Afa.
Yet we didn't get complaints for any of the people mentioned, if they don't mind - why others would get offended on their behalf? Hate people who are offended for others.

In general I would agree with you - *if* the person was aware of it

[2021-06-08 10:11] DoomJedi commented on #782
To take things into perspective on this whole matter...nudity-wise, what BoA has compared to commercial Duke Nukem 3D or even Shadow Warrior...really?
If the character - as a character is "manly man Machoman", it's not out of character to have some...manly man talk (skill names are sure something quoting the main character basically (like parallel Duke3D voice-over on those), it the core idea of s

[2021-06-08 10:23] madame-rachelle commented on #782
The whole nudity thing really doesn't bother me. I am just more of the belief that if the resources are unused they should not even exist in the game archive - particularly considering as loaded and likely to cause controversy as those particular ones are.

That being said - I personally find Duke Nukem's depiction of women slightly distasteful, but nothing to get particularly fussy over. I give i

[2021-06-08 10:35] DoomJedi commented on #782
" It's a game from the 90's,"
Were 40s less macho? And BJ as a game is from the 90s.

Again, for Duke3D it was also in character. One can decide if it's fitting nowdays to make a game about such macho character - or not, but once you do - if it fits the character, complements it - it's fine. As macho (/retro male) characters (like BJ, Doomguy, Duke etc) live and meet "macho world" and goes to mach

[2021-06-08 10:44] hawkwind3 opened #783 "[C3M5_A] Various issues"
C3M5_A ...

- [x] a) Should not the ladder at line 2741 go all the way to the floor ? Also the ladders at sectors 1383 and 7162.
- [x] b) I had the lantern, with oil, but it seemed to have no effect at x -10056, y 16909.
- [x] d) I had a graphic issue at x -7597, y - 8208, but the screenshots I took did not show the problem.
- [ ] c) Some pics that showed a different problem.
![A](https://user-ima

[2021-06-08 10:45] hawkwind3 opened #784 "[C3M5_B] Issues with scrolling luggage"
Near sector 2250 there is what seems to be a luggage conveyor, but some sectors do not work, and others scroll in the wrong direction.

[2021-06-08 10:46] Ozymandias81 commented on #783
Have in mind that some issues may occur if you play under recent builds of gzdoom... Btw that shot, it was present even on older builds of BoA, debris tend to "jump" up and down and I remember that I have removed that debris from there. Will fix it again.

[2021-06-08 10:48] Ozymandias81 commented on #784
Again, which version of GZDoom are you playing with?

[2021-06-08 10:51] Ozymandias81 commented on #782
Really ppl nowadays can't enjoy a single thing. We'll soon live in a Disneyworld. I won't add anything else to this.

[2021-06-08 11:01] Tormentor667 commented on #782
Huh yes, I somehow expected that to happen sooner or later ;) First of all thanks @madame-rachelle for pointing that out and giving your opinion towards that. With a few things I do agree, and with a few I do not - but let me explain and go into details:

- **Jewish names in the concentration camp**, well, it's simply a point of view in my eyes. Generally the names are from famous prisoners, and f

[2021-06-08 11:01] hawkwind3 commented on #784
Using the boa.exe that came with the distro.

[2021-06-08 11:02] hawkwind3 commented on #783
Yes. That is the issue.

[2021-06-08 11:16] madame-rachelle commented on #782
Doomworld is well known for its bully brigades and scapegoating, so I don't even know how much of this is genuine concern versus "let's just attack Tormentor because he's villain of the day and we're trying desperately hard to be as toxic a space as Twitter itself" - but as for the Randi thing - have you actually asked her? I know personally if I was depicted this way I would be upset. Maybe not e

[2021-06-08 11:35] Tormentor667 commented on #782
I will definitely contact her, but by all means - I never considered the NPC Randi to be a bad represantation. He is and has a 'character', and he has his heart on the right place, he is a clever technician and has a lot of knowledge, he is not just a shitfaced drunk idiot.

[2021-06-08 11:37] madame-rachelle commented on #782
Sounds good to me, thank you. :)

[2021-06-08 11:50] TheKins commented on #782
[It's happened before](https://twitter.com/AmazonChique/status/1264007066714124290).

Alternatively, you could just change the character's name to be something that doesn't have unfortunate implications.

[2021-06-08 12:20] Tormentor667 commented on #782
The question is not if it can be done or if anyone else already did it. The question is about "has it to be done?". I sent Marisa Heit (randi) a personal message a few minutes ago about this situation, explained the facts and I am eager to hear what she thinks about it.

I'd rather change the unfortunate implications ("dong") instead of removing an homage to a person that has a huge impact on the

[2021-06-08 12:33] crashmahoney commented on #782
If it's your intention for the character to be a respectful homage, and not a nasty personal attack, then yes, you should change it, without question.

[2021-06-08 12:38] TheKins commented on #782
Ideally, unless you wanna look _real_ bad.

Shouldn't you have done this _before_ adding them?

Deadnaming and turning them into a sleazeball without their knowledge... some friggin' homage.

Just run a find/replace on the NPC's name to change it to something fictional or another developer on the project (**_with their knowledge!!!_**) or something.

[2021-06-08 12:52] DoomJedi commented on #782
"Shouldn't you have done this before adding them?"
Did Doom devs asked Romero before putting Romero head in?
Since when it's a must for a tribute/easter? I added youtuber voice clip to one of my mods without asking, as a tribute to him, so what?

Name is just a name. Nick is just a nick. Person has not rights over his nick, nicks and names are not copyrighted.
We can call any BoA character by any

[2021-06-08 12:54] TheKins commented on #782
Yes. He was actively involved in that Easter Egg, as a prank on other members of Id during development.

[2021-06-08 13:20] DoomJedi commented on #782
I heard him telling the whole story about him accidently discovering the easter egg (before doom release).

[2021-06-08 13:29] TheKins commented on #782
He discovered the graphic, then augmented the Easter Egg with his own audio. He was well aware of what went out the door and onto shelves and hard drives.

Stop trying to bend this debate (that you're at least in part _responsible_ for) towards being something it isn't.

[2021-06-08 13:48] Username-N00b-is-not-available opened #785 "[3.2] The legacy of DECORATE"
From the depths of the GitHub server HDDs...
...emerges the resurrected DECORATE issue.

When the code conversion was suggested in #470, a few very valid points were raised by the team members regarding further improvements of the translated code, i. e. rewriting DECORATE hacks that could be implemented much easier and cleaner in ZScript. This means _only_ the ones that could be replaced while ret

[2021-06-08 13:56] DoomJedi commented on #782
I'll leave this debate, even better for me. I have life you know, and much better things to do.

[2021-06-08 14:19] madame-rachelle commented on #782
@Tormentor667

This quote from Doomworld *REALLY* bothers me on a deep emotional level, more than I can possibly express into words here. I know you were just trying to defend yourself. I promise you I am *NOT* trying to look for excuses to hate you or to ruin your reputation. I PROMISE you that! I know that the bully brigade on Doomworld can be too much to handle sometimes - I have been a victim

[2021-06-08 14:34] AFADoomer commented on #785
A lot of the actor's will need minimal work; mostly consolidation into the correct file and some formatting cleanup.

Anything that uses complex Spawn state actions to set initial behavior, convoluted jump statements, or inventory-token-based checks probably should be cleaned up.

[2021-06-08 14:46] Ozymandias81 commented on #782
@TheKins Then also don't pop-up only when there is something to criticize "for the baddies" without being an active part of the project, we have invested 6 years on this mod, and for years ppl seems to like it, issues only happens mostly from the Doomworld side (as also Rachael said regarding how people is there) and you sound like those sometimes, thus I admire your works and this is a bit shamef

[2021-06-08 14:48] MuadDib90 commented on #782
@madame-rachelle (I know it isn't you who wrote it, but...)

I am one of the playtesters and this offends me. I am not 'fucked up in the head'. And I am definitely not a person, who is being rude to random people (he doesn't even know at all) on internet; covered by anonymity.

[2021-06-08 14:54] Ozymandias81 commented on #782
I think he just misstype something while being very upset @MuadDib90 , you can see by yourself that thread has been edit on purpose

" "You're fucked in the head, Torm" - Congratulations for insulting me, and insulting everyone (!) who has been playtesting the mod as well. I am not gonna join this discussion here though, it's far from being objective and the usual "Torm-bashing" bores me to death.

[2021-06-08 14:58] TheKins commented on #782
I have actively and openly criticized parts of this project, from game design through to performance, all throughout development. I'm not some Johnny Trendchaser joining a mob for kicks. I can't really criticize things I don't know about, however, and for the most part the things being discussed today only came to light recently. I also find most of the response from Torm (especially blaming Scuba

[2021-06-08 14:58] madame-rachelle commented on #782
I'm really not trying to be rude to random people on the internet, and if I came off that way that was not my intent, sorry. I am really just pointing out that there were a whole bunch of better ways to handle the response to the way the people on Doomworld handled this. I can also very much understand mistyping when you are upset, as well, as I have done that myself on a number of occasions.

[2021-06-08 15:03] MuadDib90 commented on #782
I am sorry too... It was meant for the person, who actualy wrote it. And to let you all know, that I have also feelings and I am normal like everybody else. (I wanted it only to be assigned to that post.) Sorry, my bad.

[2021-06-08 15:06] Ozymandias81 commented on #782
Yeah only came to light recently and why not fuel them? Again Torm edit (see he still have to apologize via "manners" too) the post, things like these may turn very bad your day don't you? I am just saying this because these are my considerations regarding Torm, which is first a friend of mine, and second because I would have dropped everything to hell after a day like this, even if my patience ha

[2021-06-08 15:08] AFADoomer commented on #782
We need to do a 3.1 (3.0.1?) interim release to take care of the most volatile issues.

[2021-06-08 15:10] 0Wereknight commented on #782
Says who, though?
It's their right to decide what to do, Torm have contacred a person in question, what will be decided is sure not a thing we can change. And speaking in such a tone is an arrogance, which leads to worsing situation.

[2021-06-08 15:26] #779 closed

[2021-06-08 15:40] Tormentor667 commented on #782
@madame-rachelle this happens if you don’t care about re-reading your own replies and they get unfortunately misunderstood because it lacks a contextual sound of voice.

By no means I wanted to declare testers responsible for the content - my message unfortunately was totally misunderstood (can’t blame that on anyone though).

What I wanted to say (but obviously failed) is that a lot of reputable

[2021-06-08 15:44] Username-N00b-is-not-available commented on #785
Yeah, I forgot about the formatting, too, a lot of it was lost in the process of conversion... Let's not remember how :-)
Definitely agree on the initializing and the jumps, where many copy-pasted lines can be combined into a single anonymous function.
As for the inventory checks, most of them seem to be present [on weapons](https://github.com/Realm667/WolfenDoom/search?q=a_jumpifinventory), so ho

[2021-06-08 15:44] Tormentor667 commented on #782
Because of a few people from a totally toxic community stormraging because they have personal issues with me? Has anyone yet read this kind of feedback outside Doomworld? ModDB? YouTube? Wolf3D?

I really don’t want to bend the knee, it doesn’t feel right. We took care of a lot of issues and 3.1 will improve this - but a 3.0.1 just because of what is happening on Doomworld doesn’t stand in relatio

[2021-06-08 15:49] madame-rachelle commented on #782
Yes, I can understand mistyping/being misunderstood, like I said it's happened to me so many times. I apologize I did not mean to take things to another level on this, I think you can understand how I felt when reading that, though.

I will be completely honest - I hold no ill will towards the team for this, and I completely understand that mistakes do happen. On the other side though, this whole

[2021-06-08 15:50] Tormentor667 commented on #782
As I said: Totally unfortunate, I am sorry that my reply can be mistakenly interpreted like I am blaming the testers on these issues.

I described my intentions to @madame-rachelle and there is nothing more I can say. I should have shut the fuck up and ignore the thread on Doomworld or at least let it cool down for a while and answer without emotions interfering.

[2021-06-08 15:51] AFADoomer commented on #785
Yeah, that's the other main thing to look for.  There are a lot weird inheritances and new actors with minor changes that can be consolidated.

The reason for using a user variable was to allow setting a variant while still allowing. A special to be set on the actor...  but that could be a trade-off.

[2021-06-08 15:54] Dynamo128 commented on #782
I feel like I need to chime in on this regarding something Doomjedi said:

"Yet we didn't get complaints for any of the people mentioned, if they don't mind - why others would get offended on their behalf? Hate people who are offended for others."

Doomjedi, as you very well remember because we had a private conversation about this topic, I happened to defend you one time in a different community

[2021-06-08 15:58] Username-N00b-is-not-available commented on #782
DoomJedi stated he has already left this debate: https://github.com/Realm667/WolfenDoom/issues/782#issuecomment-856791507

[2021-06-08 16:19] Ozymandias81 commented on #785
Some inheritances were made with the old shadows method in mind, and to also exclude some certain actors from thinkers (NOINTERACTION ones) plus instead others to be slightly active (on CUTSCEN# maps). As of now though there should be also a "Fade" state that can be triggered via custom fields which needs to be removed, there was a plan for that to be used in game for the end sequence, where dead

[2021-06-08 17:04] Ozymandias81 commented on #775
Destroyed radio has been fixed [previously](https://github.com/Realm667/WolfenDoom/issues/760)

[2021-06-08 17:57] Ozymandias81 opened #786 "Minor issue when typing ENDGAME from console"
Not sure if this may be relevant, but this happens when you type endgame from console.

![Screenshot_BoA_20210608_153440](https://user-images.githubusercontent.com/11136108/121234116-a6da3c80-c893-11eb-8896-a3b2a6a31720.png)

[2021-06-08 18:03] #775 closed

[2021-06-08 18:22] DoomJedi commented on #782
You are totally right, and I thank you for mentioned this, but I'll make an exception for a person that did support me on some hard times I had in the toxic part of Wolf3D community.

Indeed there seem to be apparent inconsistency between by sincere and deep appreciation of you standing out for me on Wolf3D media (big thank you for your support), and my recent words.
I need to think about it now,

[2021-06-08 18:55] Tormentor667 commented on #782
Just got a word from someone that I want to share with you:

[2021-06-08 19:20] TheKins commented on #782
Just got a word from someone that I want to share with you:

[2021-06-08 21:20] x3003 opened #787 "BJ can't die...."
... during the training mission. Even when handling the panzerschreck wrong and stepping on multiple mines, he still doesn't die and stays on 1% health. Question is, why not ? He can die on every other mission.

[2021-06-08 21:24] x3003 opened #788 "lightswitch only turns off 1 light"
In the professors room, turning off lightswitch, only switches off 1 of the 2 lights. Done on purpose ?

![Screenshot_Doom_20210606_214710](https://user-images.githubusercontent.com/77861029/121259468-7228ae00-c8b0-11eb-9be8-6817b5204b89.png)

[2021-06-08 21:24] Tormentor667 commented on #782
Just noticed that I got banned from Doomworld.

The reason? Various, but mostly this one:

This is by far the most ridiculous situation that I have encountered in my whole life 😀 I have no idea who decided this and if the person in charge even played Blade of Agony or from where he or she got the impression that I am making fun of Marisa but this whole thing makes me crazy 🤦🏻‍♂️

Just to point tha

[2021-06-08 21:25] AFADoomer commented on #787
It's a training course so the player can learn controls and hazards, and is not not meant to punish the player for failing.

[2021-06-08 21:28] x3003 opened #789 "floating enemies"
When doing c2m5_a I came across this door which opened and closed all the time.
The answer was that there were guards on top floating in the air, so the door behaved like that.

![Screenshot_Doom_20210606_220454](https://user-images.githubusercontent.com/77861029/121259886-e9f6d880-c8b0-11eb-8929-ac9172576aa9.png)

![Screenshot_Doom_20210606_220757](https://user-images.githubusercontent.com/778610

[2021-06-08 21:34] x3003 opened #790 "[C2M5_A] Train Signal is static on train ride"
In c2m5_a when riding the train, you see this trainsignal (on the left) running along w/ the train (very funny).
But secondly, the signal is set to orange, which means caution/drive slow. This light should be green instead for full speed.

![Screenshot_Doom_20210606_220617](https://user-images.githubusercontent.com/77861029/121260162-44903480-c8b1-11eb-94f1-93a9dd6a1eee.png)

[2021-06-08 21:35] x3003 commented on #787
Even during a training mission you can die IRL. Especially w/ live ammo.

[2021-06-08 21:37] AFADoomer commented on #787
How would you recommend that we handle it, then?  Right now if he dies, the whole level will restart.

[2021-06-08 21:39] x3003 commented on #787
Just let him die, like a normal mission. If the player saved, he/she can reload. Or else start again from scratch.

[2021-06-08 21:41] madame-rachelle commented on #782
![image](https://user-images.githubusercontent.com/18584402/121260898-f282eb00-c87f-11eb-81d8-1f40f095f315.png)

I'm not going to weigh in on this as I do not have much to feel about this, I am just bringing you the information.

The only thing I can say is - given that he is one of the administrators on the site and knowing my own role on ZDoom forum I really believe he is doing what he feels is

[2021-06-08 21:46] Tormentor667 commented on #782
You are making good and valid points @madame-rachelle - as usual. I kinda like how you are always able to objectively analyze situations and see the key facts within that make people do their personal progress. Thanks for that!

[2021-06-08 21:47] Tormentor667 commented on #787
We will keep the behavior as is, it doesn’t make sense to kill BJ in the training course.

[2021-06-08 21:47] #787 closed

[2021-06-08 21:53] madame-rachelle commented on #782
You're welcome, but it was nothing too spectacular - I don't know what he's thinking or feeling but I can say I've been in similar shoes before. Hitting high profile members of the community like that is never an easy decision, and I've done it a few times in the past, even recently actually. It takes its toll on you emotionally, and like I said I have no idea how he thinks or feels but I can only

[2021-06-08 22:00] Tormentor667 commented on #782
What makes me angry the most is the reason for the ban. Saying that I was making fun of Marisa has absolutely no basis and it makes me look like a „transgenderphobic“ and that’s simply not true. I am a tolerant person and I absolutely do not care about the sexual orentation or gender of a person - everyone is free to do and decide and live a life in peace. Banning me for such a reason is just not

[2021-06-08 22:15] madame-rachelle commented on #782
Yeah, I understand completely.

[2021-06-09 03:15] Dynamo128 commented on #782
I am going to say this to you guys purely in your own interest, but you should probably know that, regarding this:

This whole thing is currently being talked about on twitter and it's only a matter of time before game journalists potentially pick up on it. Even though I disagree with your positions, I still feel the need to warn you of the possible consequences.

You people are still in time to g

[2021-06-09 04:23] AFADoomer commented on #782
The skill level name was fixed over a month ago, and the nude/torture graphics more recently, but there was no bugfix or minor version release.  Now this blew up, and instead of us having acknowledged and promptly fixed emerging issues while continuing to refine and update the mod, we look like we ignored it...  or at best had no urgency to release a fix.  So now, the new complaints about Holocaus

[2021-06-09 04:28] AFADoomer commented on #786
I can't reproduce this.

The only thing that I can think of is that somehow your player object was destroyed before the shader event handler stopped running, but I have no idea how that could happen.

[2021-06-09 04:56] TheConcernedModder commented on #782
First of all I'd like to say that I like your mod despite my few issues with how combat is handled, like the roll giving damage reduction or something of that sort or the angle of combat rolls being really stupid sometimes (rolling into your face etc.) or the low stamina bar. However those are tiny issues compared to what you're facing right now. I'd like to say a few things on that.

Cancel cultu

[2021-06-09 05:09] Dynamo128 commented on #782
With a dog whistle nickname like that, your troll post already wouldn't be worth reading, since it's just a textbook case of freeze peach defender that was completely uncalled for. The problem here is that you completely ignored what I said originally.

doomjedi and tormentor667 have pointed out how there is no large scale controversy on the web involving BoA, meaning *they are obviously concerned

[2021-06-09 05:30] madame-rachelle commented on #782
Tormentor I don't know what the deal is with Realm667 if you are interested in continuing to host it or not, but if you plan to take it offline can you at least allow folks to take a backup of it, please? There is no sense in punishing people who are completely innocent of this situation who took no part in this, or the threads over at Doomworld.

[2021-06-09 05:44] Tormentor667 commented on #782
It works for me actually, I got a note from the hoster (all-inkl.com) that they moved the server for this page so I guess that was the downtime. I am not gonna close this site just because of the drama that happened. That wouldn’t be fair for everyone else NOT involved.

[2021-06-09 05:45] Cacodemon345 commented on #782
Yes please, at least allow others to backup your repo.

[2021-06-09 05:48] Tormentor667 commented on #782
Maybe you want to inform the people outside this issue so the accusations finally stop 😅

[2021-06-09 06:08] DoomJedi commented on #782
"meaning they are obviously concerned and on the look out for it"
Don't know if it's more sad or funny, some claim.
There is nothing obvious about the link you're doing between our quote and your deduction.
It's not true in any way or sense.

You have to understand - we took those concerns (logical for such camp level (sure after Sonder drama), or any type of pixelated nudity or whatever other cla

[2021-06-09 06:38] hawkwind3 opened #791 "C3M5_C issues"
C3M5_C ...

a) Lines 8117 and 8118 should be blocking.
b) Can walk through "ladders" in cabin rooms. Should be blocking.
c) Lines 9195, 9214, 9151, 9265, 9219, 8763, 8859, 8769, 8767 and 8765 should be blocking.

[2021-06-09 07:09] Dynamo128 commented on #782
You misunderstand, doomjedi. Your previous comment, unequivocally, stated that if there were really such problems with BoA, you would find something about it by googling "BoA controversy". All I did was point out that doing so *might* actually start to yield results if this shows up on twitter, youtube and such. That's all. I am not doubting that you vetted stuff during development or anything of

[2021-06-09 07:33] Tormentor667 commented on #782
After the recent events, I agree with that. I just wonder how we can take care of such a 3.0.1 release now that we are in the middle of the development for 3.1 - how is this technically doable? Regarding Randy, I contacted Marisa via ZDoom forums and mail but didn't get a reply yet - should we wait on that or just change the name?

[2021-06-09 07:35] Cacodemon345 commented on #782
I think changing the name would be a good idea.

[2021-06-09 07:40] DoomJedi commented on #782
I agree, there is shitstorm that might be starting to take...gears.
Sadly.
Unjustified, unfair - at least from my point of view.
We did everything that was reasonable and of common sense to prevent it, but if it happens - I guess it means it was unavoidable, sadly. You can't please all, never.
They have the right to be/feel offended, it's a right of every person, but there is simple solution - don

[2021-06-09 07:45] Dynamo128 commented on #782
not at all, I was claiming the opposite, that you were trying to avoid it, and you were on the look out (as in, you were *scanning* for one in the hope of intercepting it and defusing it). I'm glad it was just a language misunderstanding and that we could clear it up :)

[2021-06-09 07:46] DoomJedi commented on #782
"I just wonder how we can take care of such a 3.0.1 release now that we are in the middle of the development for 3.1 - how is this technically doable?"
My thoughts this morning exactly.
This is nearly impossible till 3.1

[2021-06-09 07:50] DoomJedi commented on #782
To be honest I wrote original reply without doing any google, I just assumed the way things are there.

[2021-06-09 08:16] Tormentor667 opened #792 "Add some kind of "notification“ to the titlescreen regarding content"
Considering the content that we provide, could we add some kind of title screen addition that explains that

- a) this mod provides fictional content, not representing history
- b) not representing any form of political ideologies of the modders
- c) sensitive content that might not be suited for everyone

After recent discussions this is definitely needed.

*Update*
Something like this maybe?

[2021-06-09 08:18] Username-N00b-is-not-available commented on #792
We can build this on the IWADNotice class by the way, from the technical side. The player will have to push a button to get rid of the menu.

[2021-06-09 08:27] DoomJedi commented on #792
There is still Sonder disclaimer on the net, you can copy stuff from it.

[2021-06-09 08:37] Tormentor667 commented on #792
Can you share that actually?

I just pasted this on the website by the way:

[2021-06-09 08:37] Tormentor667 commented on #792
Yes, I definitely recommend that.

[2021-06-09 08:48] Tormentor667 opened #793 "Blade of Agony v3.0 taken down from ModDB until all issues are resolved"
After contacting various people, reading Twitter and Facebook comments and investigating a lot, I took down Blade of Agony v3.0 for now until the relevant issues are resolved. We need to take care of things that have been mentioned so far, as they are legit and need to be changed. We need to take these things serious and listen to the people out there, as various points are legit.

@DoomJedi made

[2021-06-09 08:50] Tormentor667 opened #794 "Renaming "Randy Heit""
After the discussion on Doomworld and the very unfortunate circumstances, we need to rename the NPC. This thread here is for suggestions and ideas. It then can be taken care of quite quickly by search-and-replace on the Google Spreadsheet.

[2021-06-09 08:52] Tormentor667 commented on #782
I have just taken down v3.0 until we have resolved these issues and prepared a v3.1 release. Details about it on this issue https://github.com/Realm667/WolfenDoom/issues/793 - let's focus on the "edgy content" here.

[2021-06-09 08:52] Username-N00b-is-not-available commented on #793
@Tormentor667 It's still available, only the unrelated old files were taken down:
![image](https://user-images.githubusercontent.com/59409713/121324158-22ca9800-c919-11eb-9a53-315e7c430979.png)

[2021-06-09 08:53] Username-N00b-is-not-available commented on #794
I hope you'll forgive me for what I have done in the spreadsheet...

[2021-06-09 09:12] Tormentor667 commented on #794
I could actually live with it, but I guess we need a less "egoistic" name here. :) Suggestions?

- Roger Herman
- Robert Hunter
- Ronald Harris
- Raymond Hill

[2021-06-09 09:14] Tormentor667 commented on #793
Replaced the ZIP content now with an info file. Is that better?

[2021-06-09 09:27] Username-N00b-is-not-available commented on #793
Yes, thank you.

[2021-06-09 09:42] Tormentor667 opened #795 "Changes on "edgy and sensitive content" for Blade of Agony v3.1"
After @madame-rachelle has posted this issue https://github.com/Realm667/WolfenDoom/issues/782 and after we've discussed a lot of things in there, I guess it's about time to create a list of things that we need to take care of for an upcoming reworked 3.1 release that covers these things.

- [x] Rename "Randy Heit" to a different name not connected to Marisa Heit

- [x] Replacing "Genocide" with a

[2021-06-09 09:53] Tormentor667 commented on #794
Search&Replace with "Daniel Gimmer" maybe wasn't that smart as we can't search&replace that anymore without also changing dev comments and other information related to me. Do you think you can change Randi's name for now to "Roger Herman"?

[2021-06-09 09:53] Username-N00b-is-not-available commented on #795
@Tormentor667 Point 4: I confirm, it's 'Camp Prisoner'/just 'Prisoner' translated into various languages. I did it with automatic tools, but googled the resulting words every time, and they did show up, so the quality of the translation should not be a problem.

[2021-06-09 09:56] Username-N00b-is-not-available commented on #794
@Tormentor667 There was a block of messages of the drunk engineer himself, and a certain line in Lt. BigDave's dialogue, and that's all mentions we had in the spreadsheet. I already manually changed these to 'Hunting' anyway.

[2021-06-09 10:07] Username-N00b-is-not-available commented on #795
There are still quite a lot genocide-related words in other languages (derived from the same Latin root, such as 'Genocidio'), I am trying to replace them properly right now.

[2021-06-09 10:11] Tormentor667 commented on #795
Thanks alot for that. Can you do the same with "Concentration Camp" > "Prison Camp"?

[2021-06-09 10:14] Tormentor667 commented on #794
Thank you!

[2021-06-09 10:14] #794 closed

[2021-06-09 10:22] Tormentor667 commented on #794
Still reading comments over at Doomworld and I simply can't believe that this whole transphoby is a topic. Really. I never meant to discriminate someone regarding his sexual orientation. I have good friends who are homosexual and I love to hang around with them, I have people around me from any kind of nation and I love the variety and the gain that I have from their experiences.

I would never ev

[2021-06-09 10:45] Tormentor667 commented on #782
As we are currently working on the changes and other issues have been opened, I can firmly close this.

One last word though: I would have never expected that something like this happens and I have to admit, that my reaction yesterday was very emotional. I should have thought about what words to use before writing them, but it's an emotional topic and it was simply not possible for me to sit and w

[2021-06-09 10:45] #782 closed

[2021-06-09 10:52] madame-rachelle commented on #782
I think some people might think I am a little too naive when I say this, but after having taken on various positions of responsibility both in and outside of Doom, I've learned one very simple and basic universal truth about people: Everyone is just trying the best they can. While it is true that there are people who go out of their way to harm others, they are extremely rare - most people really

[2021-06-09 11:08] DoomJedi commented on #795
I won't fix the Boss as it's my vision and art and this is how I want it to be, do it yourself if you want to.
If you'll mad me further - I'll forbid you using that Boss in BoA at all.
You can then ask CaptainJ to make you a new one.

[2021-06-09 11:11] DoomJedi commented on #794
Call the NPC "DefinetelyNotMarisa".

[2021-06-09 11:36] Ozymandias81 commented on #788
Well because that light gets activated separatedly via a script later... Will fix.

[2021-06-09 11:38] Ozymandias81 commented on #789
This is weird and never happened before, might be a GZDoom bug... Which version did you use? C3 release or recent builds of GZDoom?

[2021-06-09 11:39] Ozymandias81 commented on #790
While signal lights are just set randomly and merely decorative, instead it wouldn't act that way, following the train... Which was your setup for rendering distance?

[2021-06-09 12:12] Ozymandias81 commented on #786
Later I will try to describe how to reproduce this, just spent the whole morning trying to add some salt on minds through Doomworld.

[2021-06-09 12:21] Username-N00b-is-not-available commented on #795
@Tormentor667 I have done the required changes in _all_ languages. (I did an exception for CREDITSM05, because that is a historical fact, not related to BoA's world in any way.) I can't give any guarantees that all the changes have correct grammar/spelling since this was a really HUGE work, but I was doing my best to acknowledge the rules of said languages, rechecking multiple times, googling word

[2021-06-09 12:52] Phredreeke commented on #795
IMO going through Not Jabba's entire list of demands and executing them all kinda downplays the one actually shitty thing you did (misgendering of Marisa Heit)

[2021-06-09 14:02] MuadDib90 commented on #795
@Username-N00b-is-not-available Be it this sensitive matter, I am not mad at you. Though I am glad you let me know, so I can look at it. Thank you.

[2021-06-09 14:38] Tormentor667 commented on #795
Just took care of the identifiers 7af3c0a3735e6ed0bad27b18a07714f5c880fc57

[2021-06-09 14:40] Tormentor667 commented on #782
I absolutely do not fault you @madame-rachelle - you have always been very polite and doing it the right way. With your help and the other teammates, I am currently trying to turn things into a better light.

[2021-06-09 14:52] Username-N00b-is-not-available commented on #795
For launching the 3.0.1 release we need to know if there could be any problems with new features/fixes that have been added after 3.0 but not finished yet. @Ozymandias81, @AFADoomer, how many of them are currently present? For example, @Ozymandias81 said in commits that he needs to fix offsets of some sprites, and @AFADoomer's achievement system should probably be switched off for 3.0.1.

[2021-06-09 14:54] Talon1024 commented on #795
Is this really necessary? The word Genocide is not only used to refer to the Holocaust (a specific event), but was also used for the mass killings against the Tutsi people by the Hutu people in Rwanda, among other events. You can find [the definition](https://www.un.org/en/genocideprevention/genocide.shtml) according to the United Nations here. If it is really important to avoid using that word, I

[2021-06-09 15:03] Username-N00b-is-not-available commented on #795
@Talon1024 For the first, you are right, but because of these origins it is also obviously connected with WWII; also, the work is already done, the genocide/Holocaust mentions were replaced (by me) with 'carnage' in English and 'massacre' in most other languages.

For the second one, all the prisoners were renamed to just 'Camp Prisoner'.

For the third one, it would be nice if we could replace al

[2021-06-09 15:06] Talon1024 commented on #795
"Massacre" would make more sense in English. A sentence like "now that Hitler has ordered the Carnage" doesn't make sense. The word "Carnage" looks out-of-place to me.

[2021-06-09 15:07] Username-N00b-is-not-available commented on #795
OK, I'll replace it right now.

[2021-06-09 15:32] x3003 commented on #790
Distance is 8192.

[2021-06-09 15:32] MuadDib90 commented on #782
I second that. You @madame-rachelle do seem to be mature in manners; unlike some others. Thank you. Unfortunately it is not a matter of course these days...

[2021-06-09 15:34] x3003 commented on #789
I use pre27 currently.

[2021-06-09 15:36] Wolfenburger commented on #795
I get the idea of censoring things but as a person of jewish background myself, why censor these things? We should have a censored and uncensored version. Because history and the evils created and committed by the national socialists workers party should be be recreated and exposed and told like a story. It's like how Slayer made "angel of death" it's not glorifying Mengele, it's showing a and tel

[2021-06-09 15:54] Username-N00b-is-not-available commented on #795
You are right in this, but sometimes we have to comply to the 'other side' no matter our beliefs and their righteousness. So much effort was sincerely put in this project over years by the developers, lots of playtesters like you and me did their job to report bugs... we absolutely do not want players to get repelled from the project on any occasion, and with the levels of shitstorm that happened

[2021-06-09 15:56] Wolfenburger commented on #795
What like 10 angry randoms? I cannot find any youtube videos where someone on the level of "gmanlives" is dunking on the game. This is a extremely vocal minority. Extremely. We have to be Elon Musk and just say "fuck it" there is no compliance, what can they do? NOTHING! Actual jewish people worked on this GAME, DoomJedi, myself, many others I am sure! Who is this other side? Some random dudes or

[2021-06-09 16:02] Doruk-Aksoy commented on #795
Yea all of this that's happening right now is reminding me of the stupid shit during Ion Fury. The soap bottle OGAY... which then turned out to be a bunch of bullshit behind it too, all that effort and money gone to waste.

[2021-06-09 16:15] Username-N00b-is-not-available commented on #795
If we do not comply with their demands now, however unjustified some of them may be, the cesspool that the Doomworld Blade of Agony thread has become will continue to live and spread around sites and forums in the Internet. Remember how it started from just one moderator post expressing concerns, some of them legitimate, some maybe not from the developers' point of view, but look what it become a

[2021-06-09 16:18] Tormentor667 commented on #795
You made very good points, really, and I want to thank you for that. But I also want to be briefly: What I fear isn't 10 people or more complaining about edgy content. What I fear is negative connections to the game and the german law that will change my personal private life . I am pretty sure that we made everything right - it's not a neo-nazi game, there is no discrimination, no racial hatred,

[2021-06-09 16:18] Wolfenburger commented on #795
I can live with one random moron that nobody will listen to calling us nazis. Yes. I can legitimately listen to that. People are called nazis for making games about killing nazis, absolutely fucking disgusting. You take some random nobody that works a normal job like all of us seriously? What cucked out mentality is this dude? "spreads over the internet" annnnnnnnnnd? Would anyone take this man le

[2021-06-09 16:20] Wolfenburger commented on #795
Now this is a legitimate concern that I wanted to hear from you. This is something easily avoidable. Also a massive point to make, you've already made the game, it's to late to pull back now even if you did censor everything. It has swastikas too! Which need be censored by german law, we could easily make 2 versions and give the credit over to one of them to avoid lawsuite, this kind of thing happ

[2021-06-09 16:43] Username-N00b-is-not-available commented on #795
@Wolfenburger

I think the team has doubts about this point (more generally about the private life, not the legal problems). I also have myself. If so much attention has been brought up, so much flame has been burnt during these two days, surely they must be _up to_ something? We do not know _how_ far some of them could go in an act of rage, and I'd rather not know, neither would Tormentor like an

[2021-06-09 16:49] Wolfenburger commented on #795
Since on mobile I can't quote a reply for some reason. No this is very on topic to the situation. Very.
"The spark must be up to something" nothing, absolutely nothing but abhorrent paranoia of a bunch of fat fuck lovers. Yes, they will be given that title. These people are pushing a power move on you and us. DO. NOT. SUBMIT. There is nothing that will come of these people. When you cave they will

[2021-06-09 16:57] DoomJedi commented on #795
We had all this on Sonder. Nothing new.
We really hoped to avoid it this time.

[2021-06-09 16:59] Wolfenburger commented on #795
Sonder? Ain't that a hotel company?

[2021-06-09 17:04] Talon1024 commented on #795
In this case, it's @DoomJedi's [Sonderkommando Revolt](https://wl6.fandom.com/wiki/Sonderkommando_Revolt) mod for Wolf3D, which was cancelled for the controversy it caused.

[2021-06-09 17:04] Username-N00b-is-not-available commented on #795
@Wolfenburger I put your image into a spoiler, please do not deface the thread, it was made to serve a technical purpose.
I think all the team members understand your point, and it is indeed true and obvious to everyone that the attackers will want more, but the reasonable part of community members will not approve that. Did you note how many people on the Doomworld thread expressed doubting views

[2021-06-09 17:07] Wolfenburger commented on #795
@Username-N00b-is-not-available
I was just hype so I posted the image with no intention of defacement. And you speak of this thread. I am sure half of them are just coordinating from a discord and all "coming out" at once. It's way to fucking organized not to be. All "suddenly" you even admit they'll just want more. Don't give them this. If you do than make 2 versions of the game where the words a

[2021-06-09 17:10] madame-rachelle commented on #795
There is more to this than power play dynamics. I really would like to see this group thrive in the community that built them up and made them into what they are. You are encouraging them to bite the hand that feeds them. And not only that, to stuff a grenade down their throat too. I cannot abide that. You have no idea what this team has to lose, and what the community itself has to lose. There is

[2021-06-09 17:12] Wolfenburger commented on #795
@Talon1024 The ADL caught wind of it and sent messages out. The ADL is very much so uneducated on what's truly homage and propagation because they think mostly anything with nazi content is pro-nazi. They recently cut back on that and have revised some of their systems and quotes. Even repealing "Nordic runes" by saying that it "can be" religious or pagan. Originally it was "anyone" that used them

[2021-06-09 17:14] Wolfenburger commented on #795
@madame-rachelle
Literally who? Go away you're probably one of the people forcing a false narrative. Back to your discord. Back I say.

[2021-06-09 17:16] madame-rachelle commented on #795
🙄
You've just proven that you have no idea what this is all really about.

[2021-06-09 17:17] Wolfenburger commented on #795
@madame-rachelle
You did too. Go fuck yourself you crazed feminist. You're not even a serious part of this project. Nor am I. But you playing power handed politics is disgusting. Censoring history and the disgusting acts by the nazis is not ok.

[2021-06-09 17:19] madame-rachelle commented on #795
And now the true colors show.

[2021-06-09 17:19] MuadDib90 commented on #795
That's enough @Wolfenburger. Please be either polite, or stop it. Thank you.

[2021-06-09 17:20] Wolfenburger commented on #795
@madame-rachelle
Yours to bud. You gladly came on a bandwagon to secure that this team erases its work. You came around the time of said launch.

[2021-06-09 17:20] Wolfenburger commented on #795
@MuadDib90 Be polite to a discord raider that managed to join at the time of the controversy? Meh. I'm not a fan of it.

[2021-06-09 17:21] Talon1024 commented on #795
On the other hand, we had an extensive discussion about whether or not to remove the sensitive/offensive content in #782 already, and we agreed that it was necessary to do so in order to avoid giving players the wrong impression about us.

Keep in mind that:
- This game received a lot of media coverage, some of it coming from big mainstream gaming outlets like the [Score](https://score.cz) magazin

[2021-06-09 17:24] Wolfenburger commented on #795
@Talon1024 The exposure museum in the Paris levels shows the brainwashing the nazis tried to commit against the French people and their disgusting attempts against the great Jewish people across Europe. They genuinely tried to abolish people that were Jewish and made sickening cartoons of Jewish people. We have memorials exposing this. The game simply is a homage to expose the nazis for their desp

[2021-06-09 17:27] Talon1024 commented on #795
Whilst I'm inclined to agree with some of your points on a personal level, it seems like you aren't seeing the big picture here.

[2021-06-09 17:27] AFADoomer commented on #795
@Wolfenburger - Just stop.  You are not helping.

[2021-06-09 17:29] Wolfenburger commented on #795
But other wolfenstein games and ww2 games had done such things. Call of Duty even had a entire prison camp level in their first game.
@AFADoomer I refuse to cave to "Madame" who joined at the time of the controversy. This person is here to push the narrative.

[2021-06-09 17:30] madame-rachelle commented on #795
Stop misgendering me.

[2021-06-09 17:32] Wolfenburger commented on #795
Confirmed troll. Confirmed here to just start shit. I have lots of transgender friends. Infact my brother is Trans and not a single one of these people have ever made it their goal to post such a quote ever on a thread or in a argument or convo.

[2021-06-09 17:33] Talon1024 commented on #795
But they were also censored. For the secret levels in the Doom 2 rerelease, the swastika was replaced with a triangle, and Hitler had his moustache shaved off. Hitler's moustache was also shaved off in the German release of Wolfenstein: The New Order (IIRC).

[2021-06-09 17:33] Wolfenburger commented on #795
True but they had separate versions of this. We can easily have 2 versions of the game fore release.

[2021-06-09 17:34] madame-rachelle commented on #795
I am not trolling you. You are the one coming in with a nasty attitude and assumptions and trying to villify me with literally any fantasy you can pin on me that seems even slightly plausible in your narrow view of me. You don't even know me and you presume to know who I am and what my agenda is without even bothering to look into my past or why the team members might have known me LONG before thi

[2021-06-09 17:35] AFADoomer commented on #795
You don't get to decide what is done with the mod.  You gave made your perspective and opinions perfectly clear in the most destructive way possible and attacked a respected member of the community who is, if not "on our side," at least is understanding if the situation and supports our efforts to make things better with the community.

If I had the permissions, I would have banned you from postin

[2021-06-09 17:35] Username-N00b-is-not-available commented on #795
Returned from supper and now seeing this... Wow.
I am closing this issue (hopefully we will be able to reopen it tomorrow, when the dust settles down). Sorry @Wolfenburger, it's honestly nothing personal, but GitHub is not a place for attacking people, **regardless** of the 'narrative' that they are going or not going to 'push' or other less-relevant things. Do you really expect you'd be able to s

[2021-06-09 17:38] Talon1024 commented on #795
I reported you @Wolfenburger. Perhaps you'll listen to a ban, if not reasonable discussion.

[2021-06-09 17:40] Wolfenburger commented on #793
Hey just wanted to say I understand why you locked the thread. I can genuinely. As for mentioned @madame-rachelle is a agenda pusher that came in only recently upon the contribution list. I seriously want to make that clear. That person came here pushing their personal beliefs with the disguise it was for the betterment of the community. @AFADoomer you don't call the shots either. Along with you,

[2021-06-09 17:42] AFADoomer commented on #793
Go away.

[2021-06-09 17:43] Wolfenburger commented on #793
How about you? You literally notice this person invaded here with their agenda and you're offended that I stood up? It's wrong to stand up for one's belief? Ones ideals?

[2021-06-09 17:56] Ozymandias81 commented on #792
I guess this is the [disclaimer](https://www.moddb.com/mods/sonderkommando-revolt/news/project-status2) regarding Sonderkommando ?

[2021-06-09 18:00] DoomJedi commented on #792
No, disclaimer is a screen that was added as starting screen on the actual game.

You can find it here:
http://deans-wolf-blog.blogspot.com/2014/09/operation-eisenfaust-origins-level-12.html

[2021-06-09 18:00] Talon1024 commented on #793
Stop acting like a spoiled child who was never scolded by their parents. We've already had numerous lengthy discussions on whether or not to remove the offensive content. We're removing the offensive content and THAT. IS. FINAL. And nothing you say will change our minds about it.

[2021-06-09 18:03] Tormentor667 commented on #782
How far are we from a 3.1 release anyway?

[2021-06-09 18:08] AFADoomer commented on #782
I don't know what would keep us from releasing essentially as-is...  Achievements could be disabled (or completed - the functionality is there, just need some strings and graphics, and an overall display).

We can push some of the other wants to 3.2, I think.  Should try to do a 3.1pre to beta testers if we can, due to the number of code changes.

[2021-06-09 18:09] Ozymandias81 commented on #795
Now back on the subject of this issue: regarding censored stuff, what will be the fate of concentration camp maps, and related actors and props? We don't have any jewish stars or numbers depicted over camp prisoners sprites, they works perfectly ime in terms of "fictional sight" and we need just to take care of mentioned stuff as above on main thread.

[2021-06-09 18:13] MuadDib90 commented on #782
Btw I am banned from commenting on issue where Wolfenburger was banned (not that it is a big deal...)
I am ready to proofread (Czech part) as much as I can if all changes has been applied.

[2021-06-09 18:13] Ozymandias81 commented on #794
I have suggested on FB chat to use [Haggis McMutton](https://monkeyisland.fandom.com/wiki/Haggis_McMutton), since it do looks somehow like him and we may adapt the humour from him too.

[2021-06-09 18:16] Leonard2 commented on #782
Just uh, dropping by to say that I will stand by what this person has said, 100%
The "normal human being" part especially hits home for me.

[2021-06-09 18:22] Tormentor667 commented on #792
Simply adding a notification that pops up at the first moment the main menue appears would be fine already. @AFADoomer are you capable of creating something appropriate maybe?

[2021-06-09 18:24] Tormentor667 commented on #793
Even though I do not like blocking people, this turned into a very non-constructive discussion so I did it.

[2021-06-09 18:25] AFADoomer commented on #792
Yes.  I was planning to have it pop up on engine load, just like (and immediatelyafter) the IWAD checker notification.

Center/middle, BigFont in gray, fade in and slow fade out over solid black background,  then title sequence starts.

[2021-06-09 18:28] Ozymandias81 commented on #792
So it should work like the saving icon right? But obviously bigger and in evidence, okay.

[2021-06-09 18:30] AFADoomer commented on #792
I was planning on large text.

We could add your suggested icon to the PC-13 screen, too.

[2021-06-09 18:33] Ozymandias81 commented on #795
Conversation unlocked, and I am perfectly fine with your intentions then, just I would hate to edit prisoners and zombies for the sake of, but turning everything else as fictional is okay for me, just not artwise. So what about Mengele? What about bosses names? We can still keep their resemblance thought, since they are mostly caricatural and DoomJedi did and astonishing job for them. What about g

[2021-06-09 18:35] MuadDib90 commented on #795
This sounds good to me.

[2021-06-09 18:37] Tormentor667 commented on #795
Well, I would ask in this case: If we rename Mengele, shouldn't we also remove Hitler? Just think about, it's here for discussion.

[2021-06-09 18:38] Username-N00b-is-not-available commented on #795
The concerns in that thread were mostly about BoA showing the _victims_ in a way that did not appeal to the Doomworld crowd, for example using the names of real people who were oppressed by Nazis for the modification.

[2021-06-09 18:39] DoomJedi commented on #795
I won't take part in this discussion just to hold myself from... from....this.

[2021-06-09 18:39] Tormentor667 commented on #792
Very good!

[2021-06-09 18:44] Ozymandias81 commented on #795
Ithzak Stern was one of them and I found it very stupid since it was clearly also an homage to Schindler's List (there was also Yoszef Szpilmann too, but that has been changed afaik). Then we must keep Mengele, since Hitler is used practically everywhere on Wolf3d mods, we won't do differently. Regarding C1M5, we can do an humorous museum mimicking Doomjedi new food meals, maybe we must only inclu

[2021-06-09 18:48] Ozymandias81 commented on #794
Ahaha this is for the good then, I always loved that character from MI3, specially in italian language (he is scottish, but in italian language he has a curious sardinian sound ahaha). AYò GUYBRUSH!

[2021-06-09 18:50] Username-N00b-is-not-available commented on #795
Maybe we could turn the C1M5 building into an actual exhibition of Nazi-supporting artists' paintings on topics that are not so sensitive (+ add Hitler's landscape paintings as an easter egg, for example?) Though that will need quite a lot of research in documents and newspapers of that time.

[2021-06-09 18:54] Ozymandias81 commented on #792
Perfect then :sunglasses:

[2021-06-09 19:01] Ozymandias81 commented on #792
So we have, by [reading this](http://sarahvideo.weebly.com/uploads/4/2/5/5/42553209/1358979_orig.gif):

Violence 4
Nudity 2
Sex 0
Language 2

Am I right?

[2021-06-09 19:17] madame-rachelle commented on #795
I think removing Hitler is way more than anyone is asking. I know, I hate double standards myself, but, the whole point of the Wolfenstein series is to kill the bastard, at least I thought. ;) Repeatedly - if necessary. I really wouldn't mind killing his cronies either - be they named after his real life cronies or fictional made up ones.

But that's just me.

[2021-06-09 19:18] Dynamo128 commented on #795
This is just my personal opinion, but I don't think Hitler or Mengele need to be removed, only real footage of Mengele. Actual spritework or whatever is fine, I'm sure he can stay as a boss. That's just me though.

[2021-06-09 19:19] AFADoomer commented on #792
What about if, rather than using a real/defunct rating, we edit the PC-13 image to "PC-M" or "PC-18" and updating the text there slightly?

[2021-06-09 19:20] Ozymandias81 commented on #786
Okay so steps to reproduce this issue: build the pk3 with build.bat, rename it as ipk3, drop it on most recent build of gzdoom, once in game during Titlemap screen make sure you have all PPShaders enabled, type "endgame" from console and the issue occurs.
![Screenshot_BoA_20210609_211739](https://user-images.githubusercontent.com/11136108/121415938-8af49a80-c968-11eb-9aea-384adb6a4cb5.png)

[2021-06-09 19:22] Ozymandias81 commented on #786
Thought it was that. These meh null pointers XD

[2021-06-09 19:27] Tormentor667 commented on #795
I just took care of the world exhibition in C1M5 and turned this into a neutral (in terms of sensitive topics) theme.

Regarding Hitler and Mengele - it is actually clear that Hitler can't be removed as main foe, but I think it isn't necessary to remove Mengele either as a baddy. So to be clear, we decide here to keep them as they are but remove footage showing his real image (what has been done a

[2021-06-09 19:30] vmh10 commented on #795
I have a pretty minor sensitivity suggestion: Remove the "gang bang" meme easter egg that depicts Lt. Rojaz on the sofa being overlooked by Nazi officers.

[2021-06-09 19:32] madame-rachelle commented on #795
If I have a clear understanding of what is being asked I think that is it. But it would help to have someone more in-the-know to confirm that.

[2021-06-09 19:34] Ozymandias81 commented on #795
Yes better remove images which depict Mengele indeed.

[2021-06-09 19:38] Tormentor667 commented on #795
Well, we can ask the following question: Instead of calling him Mengele, what about going for a different route and chaning the name to something that "resembles" the original names?

id software somehow used names that we included already like "Schwabbelhals" and "Fettgesicht". What about finding similar solutions? The sprites obviously resemble who is meant, but we could call them different. On

[2021-06-09 19:39] Tormentor667 commented on #795
Uploaded new sprite fixes for Else, so the whole list is done for now. Anything that we've missed?

Is this really such a big deal? It's a meme after all.

[2021-06-09 19:40] Tormentor667 commented on #792
Agreed! Still adding the text at the very top would be an additional thing we should add.

[2021-06-09 19:48] vmh10 commented on #795
In the grand scheme of some of the other mod's content, not really. That being said, even if it's "just a meme" It still felt a bit distasteful so I assumed it would belong under this issue.

[2021-06-09 19:48] Tormentor667 commented on #795
I was just searching for any "Randy" reference in the whole WolfenDoom folder and didn't find another one, so list bullet point one can be considered as done.

[2021-06-09 19:52] Dynamo128 commented on #795
I would also suggest changing the rojas thing in some way as that also seems rather distasteful to me. Again though that's just my view but I don't think it's a very nice tribute to make even if it's a joke...

[2021-06-09 19:54] Gustavo6046 commented on #782
You can branch from the commit that fixes such bugs instead, then.

Or even, you could manually pick the changes in these bugfix commits into patch format, and then apply this patch as the first commit of a branch off 3.0. Then you'd have basically 3.0, with your bug fixes :)

And then, when you're done with 3.0.1, merging will most likely (read: hopefully) ignore those patches in the first commit

[2021-06-09 19:58] Gustavo6046 commented on #782
I definitely agree with that.

Although, is she aware of her cameo? I assume you told her about it. Just to be sure.

[2021-06-09 20:04] Tormentor667 commented on #782
I did not told her about it, no but she has already been removed anyway so the discussion is obsolete.

[2021-06-09 20:07] Gustavo6046 commented on #782
That is fair and I understand what you mean. But it was the main reason you got mobbed on and banned from Doomworld, and if you asked her about it and she seemed fine about it, you could actually have some evidence to present Mordeth or Linguica so as to appeal the ban. (Although a screenshot would definitely be more credible than just copy-pasted text, just so people don't start thinking you wrot

[2021-06-09 20:08] Tormentor667 commented on #795
Well then, let’s remove it/replace it with something different.

[2021-06-09 20:09] Gaerzi commented on #795
Memes aren't funny.
Real people shouldn't be used -- especially without their awareness, let alone consent -- in this kind of things.

[2021-06-09 20:34] madame-rachelle commented on #795
I didn't notice that before. I'm in agreement with what's already been said and I am glad that is being removed. Really glad.

[2021-06-09 20:34] AFADoomer commented on #795
Just replace the central figure with BJ...  that retains the eye-roll meme humor without putting literally the only black guy in the game in that position (so to speak).

[2021-06-09 20:59] x3003 commented on #795
Well, Final Solution (Endlösung) was a real thing: https://en.wikipedia.org/wiki/Final_Solution
Final Strike looks more like a bad Steven Seagal movie.

Yes, killing Mickey Mouse wouldn't be a challenge ;)

Well, it wasn't summercamp you know, so why replace it ?
If ppl wanna have a political correct version, why shouldn't they make their own mod ?!
This version is your (read: modders) idea, not s

[2021-06-09 22:43] Ninlhil commented on #795
Just to add my opinion-

-It does suck when people are a bit too sensitive about things. I think it just ends up that things get watered down and people don’t develop any skills to deal with discomfort. That said...

-It is ultimately the artist’s decision on if or how they change the content. The work they put out represents them in the world, and if they would rather alter some aspects to be mor

[2021-06-10 01:52] hawkwind3 opened #796 "C3M6_A issues"
C3M6_A ...

a) White "sparks" for light at x -18175, y 591 is  not right. If sparked, the light should stay out, or just remove the white "sparks".
b) Compare sectors 2499 and 2498 to similar sectors in this area. Doesn't look right.
c) In the area where point b) is, ( warehouse ? ) check the "light beams"from the globes. They originate too high.
d) Player can pick up T7411 without needing to jump

[2021-06-10 04:00] DoomJedi commented on #795
Sure, let's offend jews like myself and please all holocaust denyers including many arabs by removing all jew references from the mod.

[2021-06-10 04:02] AFADoomer commented on #792
Added the disclaimer message and updated ratings screen in 625b5c3e225ba72dff87af21bc341b1fe44caf82.

[2021-06-10 04:56] AFADoomer commented on #764
Use -1 as the time count for it to last a single tic instead of a second, and pass an empty string as the background image...  This might actually work if we're resetting the music for finale screens anyway.

[2021-06-10 05:29] DoomJedi opened #797 "[C3M1] Jewish references"
*EDITED BY TORM*

- [x] Change escape plan to use german instead of hebrew
- [x] Remove "Holocaust Survivor" medal on texture
- [x] Replace "Sonder" easteregg screenshot (Why? - Talon1024)

[2021-06-10 05:32] Tormentor667 commented on #797
I am not going to remove this because of denying anything. I simply asked here as well „Is it needed to tell the story?“ As already mentioned: Things are handled different kn Germany and I simply want to remove any problematic content now that we have such a negative attention going on.

[2021-06-10 06:32] DoomJedi commented on #797
I didn't say you deny Holocaust or what to deny it.
I say changes - are a big gift to holocaust denyers and jew-haters and will please them much.

[2021-06-10 08:08] Ozymandias81 commented on #797
Should we use a different name for zyklon, maybe replace it with fictional gazklon?

[2021-06-10 09:24] madame-rachelle commented on #797
I am secular so I cannot speak for what any member of any religion may or may not find offensive, and thus I do not think I can offer very much in the way of valuable insight on this topic.

I am sorry to water this down to a generic statement but given my COMPLETE lack of knowledge on this topic, that is all I can do.

The only thing I really can say is this: I am against white-washing history. I

[2021-06-10 09:41] Username-N00b-is-not-available commented on #795
Sorry @Tormentor667, but you've missed line 639 of scripts/decorate/misc/cutscenes.zs and line 422 of scripts/decorate/monsters/npcs.zs. Also you wrote May 30 instead of April 30 in credits...

On the skill level names, @Ninlhil's idea seems good to me, what do others think? @Tormentor667, @Talon1024? We will though have to get official translations for the remaining 4 skill level names somewhere

[2021-06-10 10:33] #786 closed

[2021-06-10 10:43] Ozymandias81 commented on #795
Fixed lines mentioned above

[2021-06-10 10:44] Username-N00b-is-not-available commented on #550
@Ozymandias81 @Tormentor667 Will it be possible to include the new launcher by @mgrinzPlayer to the upcoming 'sensitivity' 3.0.1 release?

[2021-06-10 10:46] Ozymandias81 commented on #550
I still need to test it, but I guess we can include it too. Afaik didn't we said we'll go for 3.1 directly?

[2021-06-10 11:31] Username-N00b-is-not-available commented on #679
@Tormentor667 Is it possible to add a crutch here in some sort of REOPEN/ENTER script that would check if the player is spawned near the SNES (just the coordinates with say 32.0 map unit tolerance) and apply healing effects (e. g. just [HealThing](https://zdoom.org/wiki/HealThing)) to the player pawn if so?

[2021-06-10 11:50] Username-N00b-is-not-available commented on #697
More ideas from the resident ideas guy of the repository: if 2–3 units would be enough, what about making the tracers waggle (change their pitch in a sinusoidal wave: ```pitch(t) = pitch(0) + delta * sin(a * t + b)```, delta is the maximal pitch difference, a and b are constants, possibly slightly randomized for different actor instances)? It might not be enough for situations when the player is a

[2021-06-10 11:56] Username-N00b-is-not-available commented on #735
@Tormentor667 @Ozymandias81 If you think that the dialogue change is necessary, I can write the necessary text in English. Should I?

[2021-06-10 14:03] AFADoomer commented on #797
If we want to rename the gas, maybe Hurrikan or Taifun instead of Zyklon?  Thinly veiled, but at least not the same name.

[2021-06-10 14:05] AFADoomer commented on #679
No need, there's already a code block that gets run after returning from Keen maps.

I was thinking of expanding the InventoryHolder class to also save health and armor as a fix for this.

[2021-06-10 14:09] AFADoomer commented on #697
That might be an option.  The tracer is also used to calculate the position of the beam model, though, so I don't think it will work easily.  Best approach will probably be to add 4 additional tracers equidistant from top/bottom/left/right of the main tracer, distance based on model size/scale.

[2021-06-10 14:24] DoomJedi commented on #797
Dont we have zyklon signs too? Textures?

[2021-06-10 14:39] Username-N00b-is-not-available commented on #697
Why not have the laser model waggle, too, maybe the effect could be made to look presentable? It will also not deceive the player visually. But I am not against adding 4 tracers, especially since those are hitscan checks and won't additionally hinder the performance.

[2021-06-10 14:48] Username-N00b-is-not-available commented on #753
Captain J's machinegun turret only seems to shoot its center barrel ingame, are all others decorative?

[2021-06-10 15:06] Username-N00b-is-not-available commented on #754
Seems true for Gutenberg, but Ascher displays the correct message ("pre-C1M6", there is no separate message after C1M0 for Ascher):
<details><summary>Text</summary>\cCSir, that was a tough mission, and you were outstanding out in the field! If we keep scoring wins like this, we'll have the \cRNazis\cC on the run, and it'll be game over for them.\n\n\cCBy the way, have you heard the latest? Rumor h

[2021-06-10 15:39] Username-N00b-is-not-available commented on #778
Possibly related to 2: if you warp to a level (```map c1m2```) and quickly type ```iddqd``` after it loads, the 'Inglorious Mode On' message does not appear on screen, it is only written into console.

[2021-06-10 15:54] Username-N00b-is-not-available commented on #792
There was a small typo 'as created by by id Software', I fixed it in the CSV.
@Tormentor667, are you satisfied with this version? Is it necessary to translate the text into all remaining languages as well?

[2021-06-10 16:53] Username-N00b-is-not-available commented on #796
a) Moved the sparks to thing 2843, removed tag 181 from the light you mentioned.
b) Fixed them, also changed flat on sectors surrounding sectors 2409 and 2408.
c) Moved three lights 16 units lower.
d) *741. Moved the secret flag from the sector to the item, adjusted the corresponding secret hint in the CSV.
e) Added "Walkable middle texture" + "Projectile shoot-through middle texture".
f) Reworked

[2021-06-10 17:03] Username-N00b-is-not-available commented on #796
Actually my changes https://github.com/Realm667/WolfenDoom/commit/3ff71ba157192e68a6418482524acf3da384dd05 did not fix g), so reopening the issue. h) will be moved.

[2021-06-10 17:55] Tormentor667 commented on #550
Definitely we will add it, and we go directly for 3.1

[2021-06-10 18:01] Tormentor667 commented on #792
The disclaimer is almost perfect, I'd just make the text centert-aligned, not left-aligned, everything else is working as is.

[2021-06-10 18:07] x3003 commented on #797
Maybe make it vitamin c instead ?!

[2021-06-10 18:16] Tormentor667 commented on #795
Regarding the skill names, I am totally fine with these. Regarding the missing zscript files, can someone else touch them? I don't want to break anything :D

[2021-06-10 18:18] Tormentor667 commented on #796
Thank you for the fixes so far @Username-N00b-is-not-available. Is g) so dramatic?

[2021-06-10 18:20] Username-N00b-is-not-available commented on #796
@Tormentor667
![Screenshot_BoA_20210610_193056](https://user-images.githubusercontent.com/59409713/121576808-76c8a000-ca31-11eb-955a-c41e24c419de.png)

[2021-06-10 18:23] Tormentor667 commented on #796
Well... I could live with it...

[2021-06-10 18:23] Dynamo128 commented on #797
Really? You think this is something worth joking about in these terms?

[2021-06-10 19:22] #764 closed

[2021-06-10 19:23] Username-N00b-is-not-available commented on #785
Damn, I'm no sniper.

[2021-06-10 19:35] x3003 opened #800 "guns already activated"
In c1m5, the 2 guns at the square are already activated before the call from douglas comes to protect the nebelwerfer. Is this by design ? The nebelwerfer self isn't activated yet.

![Screenshot_Doom_20210610_212242](https://user-images.githubusercontent.com/77861029/121584997-5e0cba00-ca32-11eb-867a-b2e8098e6e7e.png)

[2021-06-10 19:43] AFADoomer commented on #792
Yeah, I can do that with a user CVar, if no one has objections.

[2021-06-10 19:44] mgrinzPlayer commented on #550
Just to let you know. After removing "shellexecute" from the launcher, virustotal reports 0/68
https://www.virustotal.com/gui/file/cd87204e1e2711c526ebf9be96b293b371c468c8ac7bc107ac9a3eadbf348297/detection

[2021-06-10 19:44] x3003 commented on #797
No, but this is a fictional game, based on reality.
There are already too many ppl in the world trying to make everything politically correct. I know enough of the war and seen too many images of ppl getting killed by nazis and others to not joke about it.
But having to change a lot in a 'simple' game because of a few ppl are insulted is ridiculous.

[2021-06-10 19:45] x3003 commented on #800
Yes, the player can fire them.

[2021-06-10 19:52] Username-N00b-is-not-available commented on #800
@x3003 Well, why would they be deactivated before the fight? If the machine guns were 'broken', it's not like some Kraut would come and repair them right after you mop up the central square. It does not affect balance, too, as enemies won't approach from that side before the large invasion attempt. @Tormentor667, what do you think?

[2021-06-10 19:54] Username-N00b-is-not-available commented on #791
a), c) Added impassable flags.
b) Added "walkable" + "projectile shoot-through" midtex flags to 5 linedefs.
Will commit soon (with other maps).

[2021-06-10 20:01] Shockwave508 opened #801 "Achievements: Attaining too many in a single run will cause a VM Abort."
Getting too many achievements in a single playthrough will cause a VM Abort if you meet the criteria for one more, stating that the "user info descriptor is too big". The only solution to the problem for now is to wipe the "boa_achievementrecord" CVAR and start a new playthrough, deliberately avoiding any and all achievement opportunites, just to keep the game playable.

[2021-06-10 20:05] Username-N00b-is-not-available commented on #801
I also noticed this earlier today but thought it was related to cheating. CVAR strings have a limit of 256 symbols, so the data probably needs to be saved in a more compact format — or across multiple CVARs.

[2021-06-10 20:06] Shockwave508 opened #802 "HUD Pickup Messages (Typo): Petrol Canisters (Flamer Ammo) claims to give +25 Fuel, gives +12 instead."
When picking up petrol canisters from slain Flammenwerfer-toting enemies, the pickup message says you got 25 Fuel, when in fact you only get 12.

[2021-06-10 20:11] Shockwave508 commented on #801
I second the "multiple CVAR" approach. Keep the encryption, but have an individual CVAR for each current and future achievements. There's a reason that mods like SWWM GZ spread things out like this.

[2021-06-10 20:12] DoomJedi commented on #795
Because some people who didnt play the actual game and know nothing about gaming but had to reply to controvercy-selling gaming website are sure on to something.
And I do speak for the jews, all jews that I know that voiced to me their opinion about the matter are against ---obviously---- from deleting jews from actual history of their greatest massacre.

[2021-06-10 20:14] AFADoomer commented on #801
I'm not adding 30-some unique cvars....  I'll split across a couple of them.

[2021-06-10 20:16] Username-N00b-is-not-available commented on #802
This is sadly not a typo. Remember how Doom's shotgun guys drop shotguns with 4 shells instead of 8 for map-placed shotguns... It should also happen with all other ammo types in BoA.
Maybe messages from #740 should have not been added right into the CSV after all, special ZScript handling could deal with this problem, but the code would become a whole lot more difficult and messy, considering that

[2021-06-10 20:19] Username-N00b-is-not-available commented on #802
Ah, yes, there's also that method. Totally forgot it. Fine then, thank you! I'll remove the lines from the CSV then.

[2021-06-10 20:21] AFADoomer commented on #802
We still need the descriptor words (Armor, Health, Shells, Rounds, etc.) as entries in each language, though. Not sure if declensions will become an issue.

[2021-06-10 20:26] Username-N00b-is-not-available commented on #802
They definitely could become a problem, but we can avoid them with something like 'Патроны x5' ('Rounds x5') where the first word is always in plural.

[2021-06-10 20:26] DoomJedi commented on #795
There is nothing sane is trying to please some controvercial and agressive wild minority voices, month after overly praised by all release, and 3 years after praised public release of previous chapters that included already that NPC and that Paris map.

Sane feedback would politely and respectivly address some overlooked issues that indeed might need fixing (some of which where already changed for

[2021-06-10 20:28] AFADoomer commented on #802
Can you create entries with "%a" as a placeholder in the correct spot (i.e., "Патроны x%a"), based on thr current text entries?  Then I can use code to replace the placeholder with the correct amount for each drop and append it in parenthesis to the end of the regular pickup string.

[2021-06-10 20:38] Username-N00b-is-not-available commented on #802
Unrelated: BTW, @AFADoomer, does your last phrase in https://github.com/Realm667/WolfenDoom/commit/0bcd0e6865c198395787c56fc7f18725843f3711 mean that you have already written the messages, or only that the code for new achievements has been present on your machine for two days?

[2021-06-10 20:54] #791 closed

[2021-06-10 20:55] x3003 commented on #800
No, but you can't use the neberwerfer for now, which is only activated when the real battle starts. I thought these were all together activated by the same script.

[2021-06-10 20:59] Username-N00b-is-not-available commented on #800
@x3003 Can the player shoot the Nebelwerfer at all? I thought it was just a decoration, a goal to defend.

[2021-06-10 21:16] Talon1024 opened #803 "Too many changes?"
At some point, we have to draw a line with regards to how much content we change based on feedback from those who voice their displeasure because they were insulted by the game's content. I don't want to be the next Wolfenburger, but I think we've already done a lot for those who have come out, and I get the feeling that this is the point wherein we'll become complete doormats to the SJWs if we ju

[2021-06-10 21:18] Username-N00b-is-not-available commented on #802
@AFADoomer I have collected the text entries in English, German, Russian and Czech (@MuadDib90, could you please check it around line 530? :-) ) into identifiers ITTYPExx (xx from 01 to 14). The %a placeholder is not needed, you can just append the same string like English "(Ammo +64)" in all languages, it will look fine.
I will remove 200 instances of these scattered across the CSV tomorrow, it's

[2021-06-10 21:30] AFADoomer commented on #802
That commit had been sitting on my computer for 2 days. Lines aren't written yet.

[2021-06-10 21:44] Dynamo128 commented on #803
I thought the whole idea here was to avoid Tormentor being linked to possibly sensitive stuff given he lives in Germany. What do SJWs have to do with any of this now?

[2021-06-10 22:10] Ninlhil commented on #795
It might require some work, but the briefing video Mengele issue COULD be solved by replacing all of the briefing images with sprite based replicas. Keep the same subjects, but bring them into the in-game style so you’re not showing the real asshole but his pixel facsimile.

[2021-06-10 22:18] Talon1024 commented on #803
I'm sure @Tormentor667 knows the German laws regarding these sorts of things. By "SJWs" I mean the people complaining on Doomworld forums and other places.

[2021-06-10 22:30] Dynamo128 commented on #803
It's exactly because he is German that he is considering some of these changes, not because the doomworld people - or whoever else - forced him to.

[2021-06-10 22:47] Ninlhil commented on #795
I’m going to go ahead and throw in my opinion here, because this topic is one I do care greatly about. I do believe that there really should not be many subjects that art can’t address. Art helps us process shit in ways that we can deal with.
Now, I’m not Jewish, but I did have family involved. My great uncle was imprisoned in Dachau just for having a radio. He did survive, but he knew he was damn

[2021-06-10 23:49] Ozymandias81 commented on #797
Okay then no changes to Zyklon, I surely like it this way.

[2021-06-11 00:02] AFADoomer commented on #802
@Username-N00b-is-not-available - Better to leave the lines as-is and replace the amounts with %a so that I can do a simple replacement with the amount and don't have to do any extra tracking to figure out the right 'type' work to print.  I can't replace the pickup string at runtime like I thought I could because the variable is 'meta' tagged for some reason, so I'm going to have to touch a bunch

[2021-06-11 00:15] Shockwave508 commented on #724
I'd like to throw my hat in the ring for an achievement suggestion: Finishing C1M5 (Operation: Paris) without making use of the Nebelwerfer even once. I admittedly hunkered down during every one of my runs and repeatedly spammed this weapon until Allied reinforcements arrived at Wave 7.

[2021-06-11 00:53] AFADoomer commented on #802
This should be taken care of in 41a3e6ad493c96f28b1b8af56e5539ba8c32115a.

[2021-06-11 00:53] AFADoomer commented on #801
Should be fixed after 2ba8caaa9ba75fb59011f07dce251c15ae05fde0.

[2021-06-11 00:58] Phredreeke commented on #795
The ADL are upper and middle class Americans, they live in a different world, they don't have to worry that one day their house could be blown up by a missile. Of course doomjedi and his friends will have a different perspective than them.

Also, why is it that video games is the only art form that's not allowed to offend people?

[2021-06-11 01:40] AFADoomer commented on #792
This should be good after 4832dabc1104a28241c3fc6a9954adb3cd4072f8.

[2021-06-11 02:07] AFADoomer commented on #679
OK, should be fixed after a96b408e229f5b791634e06dd12efcf6524a0f4e.

[2021-06-11 05:40] #792 closed

[2021-06-11 05:40] Tormentor667 commented on #792
Thank you!

[2021-06-11 05:46] Tormentor667 commented on #803
Thanks for your opinion on this @Talon1024 , I fully agree with this. But as it has been pointed out already: Most of the things are connected to the German law.

To be honest: I know a lot about the law but in some cases I am not 100% sure and that’s why I go for the secure way of „if something is questionable, change it“.

[2021-06-11 06:10] DoomJedi commented on #803
So it's only for the law-related remarks?
It's not "those say it offends them, lets remove"?

I dont want you to get into legal trouble because of the mod, even in expense of my tributes etc. Nothing is worth legal trouble.
But as we in general very much agree with Talon on the direction of what he says - are you sure you dont overdo with changes for shitstorm calming reason?

[2021-06-11 06:12] DoomJedi commented on #797
Good call.

[2021-06-11 06:23] DoomJedi commented on #795
Thanks guys for support, sharp exact words that I couldnt phrase better myself.

[2021-06-11 06:32] DoomJedi commented on #795
It's legitimate of people asking us to reconsider some things, and potentially bad choices.

But what responses lacked to be treated respectively - is:

1. Fu ...ing PROPORTIONS. Feedback for smallest parts of a huge mod doesnt have to be drama.

2. Basic respect to developers.

3. Avoidance of character-bash of developers and attempts for intent mind-reading of their intent, agenda, view of perso

[2021-06-11 07:03] hawkwind3 opened #804 "[C3M6_B] Issues"
C3M6_B ...

- [ ] a) Hear thunder underground ?
- [x] b) Can walk through boulder at x -4100, y -659 and the one nearby.
- [ ] c) SERIOUS ISSUE ? - if the player climbs down with the rope at sector 2760, and descends all the way, and just drops off, player immediately dies, with no visible cause. If this is intended, there should be spikes ( or something ) to show potiential death.
- [ ] d) Wrong

[2021-06-11 08:43] Username-N00b-is-not-available commented on #724
@Shockwave508 Would it be a serious achievement for the player? Surely the Nebelwerfer may be way more fun to use than the machine guns, but the turrets spam bullets pretty quickly, so it is hard to get overwhelmed even at the frontmost position if you do not forget to crouch. (I did not even know about that the Nebelwerfer can be shot prior to #800, and had no problems with completing C1M5. I hav

[2021-06-11 09:54] #562 closed

[2021-06-11 09:56] Tormentor667 commented on #789
I think we should block enemies from moving there, that'd be the easiest fix.

[2021-06-11 09:56] Tormentor667 commented on #790
Maybe the stop signals are not moving with the "moving floor"? Can you check if the appropriate flag is set @Ozymandias81 ?

[2021-06-11 09:56] #793 closed

[2021-06-11 09:59] Tormentor667 commented on #800
Exactly :D I can't tell if that has been changed though. In any case: I have no problem that the machine guns can already be used, this is not an advantage during the map in general so who cares.

[2021-06-11 09:59] #800 closed

[2021-06-11 10:02] Tormentor667 commented on #803
Exactly, it's not because of the offensive content for various single individuals, it's just to take care that we do not fear to interfer with german law.

[2021-06-11 10:03] Tormentor667 commented on #735
I think changing the text here makes sense. Is it necessary to adjust code as well?

[2021-06-11 10:04] Username-N00b-is-not-available commented on #759
```Table7``` has DoomEdNum 19145, not ```Table1```. The issue also happens to ```Table12```.
@Ozymandias81 Again I don't think that it is a Decorate/ZScript conversion problem, since for some reason GZDoom spawns +NOGRAVITY actors (with A_SpawnItemEx) 8 units higher than the Z parameter specified. Why does it happen and what for??? Does anybody know..?

[2021-06-11 10:05] Tormentor667 commented on #724
@AFADoomer just for the record, graphics max size is 32x32 because that's the max amount of pixels for that, right? Or is more possible in case of an higher resolution?

[2021-06-11 10:05] Username-N00b-is-not-available commented on #735
@Tormentor667 Not the code, but rather the DIALOGUE lump in INTERMAP.
OK, I'll take care of both now.

[2021-06-11 10:37] #735 closed

[2021-06-11 11:14] Phredreeke commented on #803
if that's the true reason I'd suggest you pass leadership onto someone who is not under german law

[2021-06-11 11:19] #789 closed

[2021-06-11 11:19] Username-N00b-is-not-available commented on #789
I approve this happens in game, these three soldiers are pushed to the door:
![image](https://user-images.githubusercontent.com/59409713/121677357-6dd1e000-cabe-11eb-8a71-1aaaf7db91d7.png)
Added monster-blocking lines around them in https://github.com/Realm667/WolfenDoom/commit/891af927667609ad30e2764219f70fecacc7dc02.

[2021-06-11 11:31] AFADoomer commented on #724
Correct. If they need to be bigger,  they can be, but the text will be disproportionately small.

[2021-06-11 11:34] x3003 commented on #800
Yes, you can. But only if Douglas tells you, you have 30 seconds to get to the square.

[2021-06-11 11:51] Username-N00b-is-not-available commented on #790
CODSignal_Light has the following flags (combined from all parent classes):
<details>
		+DONTSPLASH
		+NOGRAVITY
		+SOLID
		+DONTTHRUST
		+NOBLOOD
		+NOBLOODDECALS
		+NODAMAGE
		+NOTAUTOAIMED
		+SHOOTABLE
		+MOVEWITHSECTOR
		+RELATIVETOFLOOR</details>
Tree4 which is also present on the map and does not follow the train has     +MOVEWITHSECTOR
	+RELATIVETOFLOOR
	+SOLID.
Removing NOGRAVITY or DONTTH

[2021-06-11 11:56] Username-N00b-is-not-available commented on #790
The inheritance chain is CODSignal_Light<-Obstacle3d<-Object3d<-ModelBase<-CullActorBase<-Actor.

[2021-06-11 14:40] Tormentor667 commented on #724
Right then I will stick to 32x32 graphics. Will do them this weekend.

[2021-06-11 14:43] 0Wereknight commented on #795
Because offended are majority now. Bobody would ever try to sort stuff out and establish what's right, you either end up being a villain there or you'll bow your knee to this crowd and thus you'll sell youself out to everlasting "progressive" machine (progressibe my ass, we literally going back to soviet and nazi censorship all over again)

And doing so you'll just let your mod to get pale and lit

[2021-06-11 15:27] madame-rachelle commented on #795
This point is completely moot, you're arguing over a completely ghost issue now. The character is very much retained with all his characteristics and he was never removed, just his name was changed so as not to reflect any real person.

Sorry but that's what happens when you come in here all guns blazing with an agenda to absolutely *DESTROY* the person you disagree with. Little hint: The person b

[2021-06-11 15:47] DoomJedi commented on #795
Rachelle, you were never the problem and your ways are respectful and with legit reasoning behind them.

I just want to ask - why was claimed that offenders are a majority? Majority of what? Doomworld?
This issue happened 3-4 years after chapter 1-2 release and after 32000 downloads of latest chapter with nothing but praise for over a month. From people, websites, blogs, journals etc...
Including

[2021-06-11 16:01] madame-rachelle commented on #795
I don't recall making that claim - if I did, then I probably wasn't thinking when I said it. I really do not know how many people are offended by the content in this game, at all, I have absolutely no data or evidence on that.

[2021-06-11 16:09] Phredreeke commented on #795
Oh god, it frustrates me so much being stuck between a bunch of moralists on one side and a bunch of transphobes on the other.

[2021-06-11 17:11] 0Wereknight commented on #795
Rachael, show me where I pointed particularly at _you_, personally. Because I do not see that. So let's not interprent my words as hostile towards you.
I generalised the situation. Most of complaining people just catch the wind of cancel wagon and just tend to act as such.
No need to tell that's not truth, it is. At least from my side of view.

I haven't seen that. My bad. Yet I told about minor c

[2021-06-11 17:12] Ninlhil commented on #795
Jedi/Rachael, the majority comment was made by Wereknight above. And I’d say the “offended” aren’t the majority but an incredibly vocal minority. It’s the “one sin and you’ll be stoned to death” cancel culture that’s pervasive at this point.

[2021-06-11 17:20] Username-N00b-is-not-available commented on #550
Since the only non-'political' issue on 3.1 is this one, I would like to ask @Tormentor667 here if we are planning to release addons with 3.1. If yes, they need to be thoroughly tested and fixed, as e. g. ```more_weapons.pk3``` in its current state is already broken (its weapons do not have any recoil).

[2021-06-11 17:49] Tormentor667 commented on #550
Yes I would like to ship them with 3.1

[2021-06-11 18:13] MuadDib90 commented on #724
@AFADoomer @Username-N00b-is-not-available what are the plans for achievement? Some sort of table where you could see which of them are completed? Where will this be accessible? Do we need some accounts system for it? (If I overlooked these information, I apologize for duplicity.)

[2021-06-11 18:20] ZedekThePlagueDoctor commented on #803
Agreed, this would allow the mod to progress forward unrestricted.

[2021-06-11 18:47] madame-rachelle commented on #795
Sorry Wereknight, I didn't mean you specifically, I was talking about Wolfenburger, whose opinion you seemed to sympathize with. He is earlier in this very thread, though it seems like his actions led to Github completely removing his account. (He's referred to as "ghost" now)

[2021-06-11 19:26] Dynamo128 commented on #803
That doesn't magically erase his participation in it, so I have no idea what that's supposed to accomplish.

[2021-06-11 19:43] Phredreeke commented on #803
Neither does going George Lucas on BoA.

[2021-06-11 19:48] AFADoomer commented on #724
I don't know.  A table would be cool...  I had planned a boring on-screen list.

This will also let me convert the cacoward, Keen award, etc. to achievements and make them spawn only if picked up in play, too.

[2021-06-11 19:53] Shockwave508 opened #806 "INTERMAP/Chapter 1: Completing tutorial sets BJ's health to 0%, stops stamina regen, player remains alive."
Completing the tutorial will set the player's health to 0%, and prevent his stamina from regenerating, yet he will remain very much alive. A "dead man walking", indeed. This occured when I avoided setting off any mines in the tutorial.

[2021-06-11 19:55] Shockwave508 opened #807 ""I Am Iron Man" achievement: Doesn't display name and criteria upon acquisition."
Upon handing over the final Eisenmann file, the game states that you "completed achievement 24", instead of showing the name and fulfilled criteria.
![Screenshot_2021-06-11-11-33-48-877_com opentouchgaming deltatouch](https://user-images.githubusercontent.com/32436386/121742121-09664f00-cac5-11eb-8f9b-26de2d0e7765.jpg)

[2021-06-11 19:56] Shockwave508 commented on #802
Two more issues.

Stahlhelm pickup message displays +1 Armor, actually gives +5.
Nazi Medkit claims to give +10 Health, when it gives +18 over time.

[2021-06-11 19:58] Shockwave508 commented on #679
Health is now restored properly, yet the player's current armor class isn't saved/restored.

My Flak Jacket got "converted" into that 0% protection Heavy Combat Vest, upon recent testing.

[2021-06-11 20:00] Shockwave508 commented on #759
The floating meals are now submerged meals, to the point that the player is literally unable to pick them up, even if he is crouched and standing directly atop them.
![Screenshot_2021-06-11-11-00-55-586_com opentouchgaming deltatouch](https://user-images.githubusercontent.com/32436386/121742644-b8a32600-cac5-11eb-809e-c988ff625152.jpg)

[2021-06-11 20:03] Shockwave508 opened #808 "[Delta Touch?] [C1M3] Atlantik Batterie entrance displays odd transparent rectangle after door has opened."
On the way to retrieve the first two explosive charges, approaching the Atlantik Batterie entrance from certain angles will cause a transparent rectangle to appear on the upper-edge of the door after it has opened. Thankfully has no bearing on gameplay.

![Screenshot_2021-06-10-10-00-08-506_com opentouchgaming deltatouch](https://user-images.githubusercontent.com/32436386/121742940-2a7b6f80-cac6-1

[2021-06-11 20:17] AFADoomer commented on #679
That makes no sense. Health and armor values and save percent are saved/restored within a couple of lines of each other in the code.  And this was working for me (though I was just giving myself a single armorbonus item) - the code I was using to print the save percent on the inventory icon is still commented out in the status bar code.

 I'll test again tonight...

[2021-06-11 20:18] AFADoomer commented on #807
Yes, as noted in the last achievements commit, I haven't added unique strings for all of the new ones yet.

[2021-06-11 20:18] #807 closed

[2021-06-11 20:43] Shockwave508 commented on #801
Can confirm that the issue is solved. Safe to close.

[2021-06-11 21:50] Tormentor667 commented on #797
The point with Zyklon C is, that it very obviously refers to Zyklon B - yes. We could rename it as it has been stated various times, that it is a more evil version of Zyklon B, so people would get it. But how much sense does it make to rename it? I really would like to know everyone's opinion about it.

[2021-06-11 21:51] #801 closed

[2021-06-11 21:53] AFADoomer commented on #797
I say leave it as-is (Zyklon C).

[2021-06-11 21:53] AFADoomer commented on #697
This should be resolved after 04be7f8aaa9436905e6d38847df0e9d6cd2d6576.

[2021-06-11 21:55] Tormentor667 opened #809 "Strange E-Mail gotten from "Spirit Bomb"?"
Just got this:

No idea if it is spam, scam or something else. Ignore?

[2021-06-11 21:59] AFADoomer commented on #802
Fixed the stahlhelm.  The Nazi medkit is hard-coded to say +18 in language.csv, so I'm not sure what you are seeing there...

[2021-06-12 01:47] ZedekThePlagueDoctor commented on #803
Censoring BoA does not erase participation, it turns it into a watered down version of its former self. With leadership passed on, it can continue forward regardless of German legal issues.

[2021-06-12 02:08] hawkwind3 opened #811 "C2M0_A issues"
C2M0_A ...

a) Note that slope tex differs at lines 2389 and 2434. Same other side and at the entrance to this area - line 881 compared to line 926 and other side.
b) No candle at sector 534.
c) The surface of the water at sectors 1272 and 1273 render brighter than surrounding water surface. Can the ceiling of those sectors only be at the brightness of 160 ?
d) Pickup Thing at sector 1244 ( no clu

[2021-06-12 02:34] Shockwave508 opened #812 "C1M4: Douglas' escape truck can be clipped through."
After taking out all of the Flakverling guns and escaping the dam, Douglas' escape vehicle can be clipped through from any and all angles, as if the model itself was a non-solid object.

[2021-06-12 02:56] #806 closed

[2021-06-12 05:26] MuadDib90 commented on #802
@Username-N00b-is-not-available
I checked the CSV. Thank you.

@AFADoomer he means, that Nazi medkit doesn't give you instantly all amount, but it rises to the max. over time (similary to bandages), am I right? @Shockwave508

[2021-06-12 08:03] Username-N00b-is-not-available commented on #759
@Shockwave508 Which GZDoom version were you playing with? Does not happen for me on the latest devbuild:
![Screenshot_BoA_20210612_105938](https://user-images.githubusercontent.com/59409713/121769623-5140b100-cb6d-11eb-9797-cc03e2587edd.png)

[2021-06-12 08:07] Username-N00b-is-not-available commented on #809
@Tormentor667 Could it be Wolfenburger?

[2021-06-12 08:34] Username-N00b-is-not-available commented on #802
@MuadDib90 No, not about that, we are talking about the complete amount which is given by the item.
I think @Shockwave508 refers in https://github.com/Realm667/WolfenDoom/issues/802#issuecomment-859823670 to some previous version of the language file, it was indeed written 10 there in the initial implementation, then I spotted it and changed it to 18 one or two days ago.

[2021-06-12 09:39] MuadDib90 commented on #802
Ah, OK then.

[2021-06-12 14:26] Tormentor667 commented on #809
I absolutely have no idea...

[2021-06-12 14:30] Tormentor667 commented on #803
Passing on the leadership doesn't change the fact that I have been involved in this.

[2021-06-12 14:49] AFADoomer commented on #550
Can we get individual repositories created for the add-ons?  Or one repository with folders or something? That way we can actually version control the fixes and don't have to depend on email or uploads...

[2021-06-12 15:04] Wolfenburgernator commented on #809
It was me. If you checked your messages on moddb I confirmed it wasn't you that got into my email. It was some random Russian bot on a Mac. I was concerned it was you giving my email out or it being breached due to me taking a stand due to the mod censoring. Regardless you're clear torm and I'd appreciate it if you didn't mention my my email pen name on this thread. Regardless you're name is clear

[2021-06-12 16:24] Phredreeke commented on #803
Torm, I realise your concern but you can't put the genie back in the bottle. v3.0 is out there already, you can even find a mega link in a comment on your own moddb page, and the more you change it, the more you increase demand for the unaltered version (which has no disclaimers, actual holocaust footage and the misgendering of Marisa Heit)

[2021-06-12 16:40] Tormentor667 commented on #724
<img width="16" alt="ac_gunslinger" src="https://user-images.githubusercontent.com/10298439/121783184-9684d300-cbad-11eb-8a4d-f7cd73652945.png">
<img width="16" alt="ac_iamironman" src="https://user-images.githubusercontent.com/10298439/121783185-9684d300-cbad-11eb-8a0f-4ad865d3dafd.png">
<img width="16" alt="ac_impenetratable" src="https://user-images.githubusercontent.com/10298439/121783186-971d

[2021-06-12 16:40] Tormentor667 commented on #724
Finished all, let me know if I missed one, if someone wants to create icons as well, here is the PSD file :)

[achievements.zip](https://github.com/Realm667/WolfenDoom/files/6642559/achievements.zip)

[2021-06-12 16:41] Tormentor667 commented on #550
I agree, what about adding a subfolder to the Wolfendoom root?

[2021-06-12 16:42] Tormentor667 commented on #809
I just replied your pm over there, thanks fpr apologize and clearing up.

[2021-06-12 16:42] #809 closed

[2021-06-12 16:43] Tormentor667 commented on #803
That's true, but I simply do not want to have this version officially hosted and supported.

[2021-06-12 16:44] Username-N00b-is-not-available commented on #550
This way we would need to exclude folders from building the pk3.
I have already created a repository some moments ago, time to fill it with the addons.

[2021-06-12 16:49] Ozymandias81 commented on #809
Fixing graphics and credits atm

[2021-06-12 16:54] Ozymandias81 commented on #797
Again if it was for me, I would have kept everything as is, mine was just a suggestion. And better keep it as is, since we have several textures with the name too.

[2021-06-12 16:57] AFADoomer commented on #809
Should probably edit this issue to remove his email display also.

[2021-06-12 16:58] Ozymandias81 commented on #790
This was surely working before decorate to zscript, and even after afaik... Should definitely belong to optimizations.

[2021-06-12 17:06] MuadDib90 commented on #724
:laughing::laughing::laughing: OK... I can't compete with this it seems, I give up...

[2021-06-12 17:07] Wolfenburgernator commented on #809
I think you can outright delete issues. Which would be better so we don't have snoopy people looking at edit histories

[2021-06-12 17:11] Username-N00b-is-not-available commented on #809
This can only be done by @Tormentor667 as an admin: https://docs.github.com/en/issues/tracking-your-work-with-issues/creating-issues/deleting-an-issue

[2021-06-12 17:13] Wolfenburgernator commented on #809
I'm sure he'll get around to it when he has a spare moment.

[2021-06-12 17:17] Wolfenburgernator commented on #809
I don't know if referencing this as an issue will keep it ghosted and linked. @Ozymandias81 it might keep this thread linked even after deletion. Might have to ask you to delete that thread reference link. Hate to be an annoying prude.

[2021-06-12 18:27] Username-N00b-is-not-available commented on #563
Do we have plans for 3.2 regarding this issue?

[2021-06-12 18:30] Ozymandias81 commented on #563
This needs zscript code to work I think, and major rework over language. Also I am not fully aware of recent changes and new cvars added, so I wonder if this instead would be feasible for 3.1? To have everything set properly?

[2021-06-12 18:31] Username-N00b-is-not-available commented on #648
Is the current implementation good enough for you @Shockwave508, or some more features could be added? Can the issue be closed?

[2021-06-12 18:52] Shockwave508 commented on #648
Yes, I believe it can be safely closed now. :)

[2021-06-12 18:59] #648 closed

[2021-06-12 19:02] Username-N00b-is-not-available opened #813 "Damage screen intensity problems"
If a ```Sniper``` hits you with a bullet, the player's screen gets filled with thick red haze for around a second. This is fine.
On the other hand, if a ```WShotgunGuard``` hits you from point blank range, he can deal around 40 damage (compared to the sniper's 20 to 30), but the damage effect on screen will be very light. It looks like only one of the pellets takes part in the overlay calculations

[2021-06-12 19:09] Username-N00b-is-not-available opened #814 "Stamina recovery after death"
Well, this is cheat-related, but is quite inconvenient during testing and might uncover other problems, so I'm posting it nevertheless.
After the player dies and enters ```resurrect``` in the console, they do not recover stamina anymore. It can be spent using kicks, or sprint, in which case it will not be depleted (you can sprint indefinitely).

[2021-06-12 19:20] Username-N00b-is-not-available commented on #676
Bringing this up for attention of @AFADoomer and @Talon1024.

[2021-06-12 19:34] Username-N00b-is-not-available commented on #682
Added PRISONERMESSAGE23 to the CSV for the C3M3 suggestion.

[2021-06-12 19:39] AFADoomer commented on #676
Already working a custom menu to match Keen 4 death prompt.

[2021-06-12 19:41] Username-N00b-is-not-available commented on #695
@Shockwave508 Does this issue still happen? Could you please try the console command again, too (with the most recent devbuild)?

[2021-06-12 19:58] Username-N00b-is-not-available commented on #697
@AFADoomer The rotating ones still can be crossed under for some reason.

[2021-06-12 20:18] x3003 commented on #812
Yes, you can go through the truck.

[2021-06-12 20:23] Talon1024 commented on #695
I personally prefer `profilethinkers t`, which shows the total time taken by each actor class.

[2021-06-12 20:23] x3003 opened #815 "Lifts too fast"
In c1m4, these lifts (elevators) are too fast now. Somehow this got changed recently. No human would like this kind of acceleration.

![Screenshot_Doom_20210612_220158](https://user-images.githubusercontent.com/77861029/121788308-93e5a600-cbcc-11eb-9e82-ce154a5cc429.png)

![Screenshot_Doom_20210612_220522](https://user-images.githubusercontent.com/77861029/121788312-9f38d180-cbcc-11eb-8b0a-a4f31e5

[2021-06-12 20:36] Username-N00b-is-not-available commented on #815
There is no acceleration implemented for lifts in the Doom engine, the floor velocity always changes _instantly_ (which would be obviously fatal in real life, no matter the maximal speed attained).
If we make the lifts slower, it will mean that the player will have to idle for more time, waiting until the lift arrives to floor, and this could be frustrating (depending on whether the player's ```pa

[2021-06-12 20:42] Tormentor667 commented on #724
Can someone tell me which ones are missing?

[2021-06-12 20:46] Username-N00b-is-not-available commented on #724
@Tormentor667 The ones missing are mostly the ones which have not even been thought over and implemented yet...
Also there are 34 of them planned currently (@AFADoomer enumerated them starting from zero).

[2021-06-12 20:46] #812 closed

[2021-06-12 20:47] Username-N00b-is-not-available commented on #812
BTW I've always wondered where Ryan and Douglas could find a General Motors truck after having parachuted in Germany... Replaced it with an Opel Blitz and fixed this issue.
Also there were some leftover scripts from lifts that previously existed on the map. The lifts were changed by @Ozymandias81 to portals, but the scripts were left in the ACS source. I checked the scripts and removed unused ones

[2021-06-12 20:50] Tormentor667 commented on #724
I only count 26 in the top post

[2021-06-12 20:51] Tormentor667 commented on #815
I’d keep it as is.

[2021-06-12 20:52] Username-N00b-is-not-available commented on #724
@Tormentor667 See this file: https://github.com/Realm667/WolfenDoom/blob/7b5702b0868b4bc0d019ddbe9e8cc7cbdb456def/scripts/eventhandlers/Tracker.zs#L378

[2021-06-12 20:52] Username-N00b-is-not-available commented on #797
Has the developer team exhausted the subject of discussion here?

[2021-06-12 20:56] DoomJedi commented on #797
Changing gas name? Really?
...no words can describe how it looks to me.

Is it german law, just our panic or what?

[2021-06-12 21:15] x3003 commented on #815
Is this a problem then ? I've seen loads of vids and no one has probs w/ the old (slower) ones.

[2021-06-12 21:57] Tormentor667 commented on #797
We keep Zyklon-C

[2021-06-12 21:58] Tormentor667 commented on #724
The problem here is: Without knowing what the achievements to, I can’t create icons for them

[2021-06-12 22:40] x3003 opened #816 "Ryan's cross"
When you point a gun at Ryan in c1m4, there's no cross shown.
But it's shown in c2m2.

![Screenshot_Doom_20210613_003241](https://user-images.githubusercontent.com/77861029/121790409-70782680-cbdf-11eb-9e5b-5b2f4b51b314.png)

![Screenshot_Doom_20210613_003338](https://user-images.githubusercontent.com/77861029/121790410-73731700-cbdf-11eb-9b5b-0648039d3fd5.png)

[2021-06-12 23:03] Wolfenburgernator commented on #809
@Tormentor667 I replied to your email btw.

[2021-06-13 02:08] AFADoomer commented on #676
Implemented in 8aad61b185a6ecef92bff27cf1079904f1017117.

[2021-06-13 02:16] AFADoomer commented on #814
This should be corrected in efab7679ec58e46f835114e96d4aa6116a002858.

[2021-06-13 02:19] hawkwind3 commented on #796
One more C3M6_A issue I forgot ...

T152 at sector 2817 - water cooler (Thing type 19154 ); the water part of the model is rendering near the ceiling, before being destroyed.

[2021-06-13 02:40] AFADoomer commented on #813
Should be better after 753f205ee040973b6caf910fd017423aa776c64c.

[2021-06-13 02:42] AFADoomer commented on #679
I think that this should be resolved after @Talon1024's commit at 744cefdadced9dfafd1664b4047f1516e05c4475.

[2021-06-13 02:57] AFADoomer commented on #724
Of the ones that are implemented, we're missing an icon for:
- Kill 500 zombies (ACHVMT24.png)
- Collect all (non-Astrostein or Keen) weapons at least once (ACHVMT26.png)

And the icon for Gunslinger needs to be updated to 1000, not 100 (ACHVMT00.png).

[2021-06-13 03:18] hawkwind3 opened #817 "C2M0_B issues"
C2M0_B ...

a) Doortraks for sectors like 294 for example, scroll. Is this intended ? If not can be easlily fixed.
b) Is it possible to have the HUD for this mission show a future graphic ? Compare grenades.
c) Wrong ceiling brightness for sector 6220.
d) I had not enough time to get to opened door sector 6803. Can the time between opened and closed be increased a bit ?
e) Sparkles at light at sec

[2021-06-13 05:50] MuadDib90 commented on #724
Guys, shouldn't we use present time instead of past time, when describing achievements?

So for example intead of _\cFSharpshooter\n\cC**Maintained** 75% accuracy or higher after firing more than 100 rounds!_ there would be better to have **Maintain**.

Reason? If achievement is completed, it is OK, but if there will be a table with them, where you could read, what they are about, read it "as comp

[2021-06-13 06:11] AFADoomer commented on #724
These strings are all shown when the player gets the achievements, so past tense is correct...  But, you are right, we'll need other future tense strings if we want a list of what to do to accomplish the achievements.

A note for anyone trying to debug the achievements:  If you want to clear all achievements, there are four cvars that you have to set to a blank string (""):
  boa_achievementrecord

[2021-06-13 07:08] MuadDib90 commented on #724
Someone has already mentioned somewhere on github (I think), when using "give all" cheat to obtain one particular achievement, when starting the game next time, I get a crash.

Report is enclosed.

[report.txt](https://github.com/Realm667/WolfenDoom/files/6643428/report.txt)

[2021-06-13 09:41] Username-N00b-is-not-available commented on #815
@x3003 Do you think if lowering the speed by 25% could be enough?

[2021-06-13 09:42] Username-N00b-is-not-available commented on #816
@x3003 This is because of reasons stated here: https://github.com/Realm667/WolfenDoom/issues/727#issuecomment-851246668
Is it a serious problem anyway?

[2021-06-13 09:43] Username-N00b-is-not-available commented on #809
@Tormentor667 Could you please delete this issue altogether?

[2021-06-13 10:46] Tormentor667 commented on #809
Which ones should I delete?

[2021-06-13 10:46] Tormentor667 commented on #815
If you ask me that should work

[2021-06-13 10:47] Tormentor667 commented on #724
Just for the record: I will take care of the missing achievement graphics this ecening

[2021-06-13 10:48] Wolfenburgernator commented on #809
Delete the issue and stop publicly posting my personal information thank you! And delete that reference Ozy made

[2021-06-13 10:48] Tormentor667 commented on #550
Well I would simply add them to the main repository and exclude them from being packed with the batch file so we have everything in one place.

[2021-06-13 10:54] Wolfenburgernator commented on #809
@Tormentor667 it's not hard man I asked in an email. You have to click 3 dots and click delete on this thread or "issue" as for the reference that's a simple remove as well. I'm beginning to think your screwing with me and I'll report for public posting of my pen name because it is my personal info and I never asked for you to share it.

[2021-06-13 10:59] MuadDib90 commented on #724
Sure 👍
Also think the problem mentioned above might be in connection with some recent commit. I can't start it at all.
@AFADoomer

[2021-06-13 11:02] Wolfenburgernator commented on #815
@Tormentor667 I replied to your email. Please stop keeping my personal information public.

[2021-06-13 11:24] Wolfenburgernator commented on #809
@Username-N00b-is-not-available Hey is there any direct line you have to Tormentor667? I would like this issue deleted and I'm coming close to having an actual anxiety attack.

[2021-06-13 11:49] Tormentor667 commented on #815
I removed the issue mentioned, sorry for getting that wrong. Everything’s right now as is?

[2021-06-13 11:53] #676 closed

[2021-06-13 11:53] #813 closed

[2021-06-13 11:54] Tormentor667 commented on #812
Thanks for taking care

[2021-06-13 11:55] Wolfenburgernator commented on #815
The thread name isn't showing up in this reference right? For my sanity I'd like this reference silently reworked and not public. Other than that thank you for taking it down. https://github.com/Realm667/WolfenDoom/commit/0c6f3e6c7390f8a5f658a8f894f72c9b64c546ef I just want to make

[2021-06-13 11:56] Tormentor667 commented on #733
What’s new as well for 3.1?

[2021-06-13 13:06] #814 closed

[2021-06-13 13:07] Tormentor667 commented on #816
Well, we could simply make the crosshair appear on statist npcs in regular missions as well, is that doable @Talon1024 @Username-N00b-is-not-available @AFADoomer ?

[2021-06-13 13:12] Tormentor667 commented on #563
Well, I am even open to include this in 3.1 I you can implement it reasonable and bugfree :)

[2021-06-13 13:26] #796 closed

[2021-06-13 13:41] x3003 commented on #815
Yes.

[2021-06-13 13:44] x3003 opened #818 "Can't shoot through the gate"
In c1m1, you can't shoot through this gate, so I couldn't shoot the dog.

![Screenshot_Doom_20210613_152136](https://user-images.githubusercontent.com/77861029/121809684-0ce10e00-cc5e-11eb-8353-ec0ab53a6a60.png)

[2021-06-13 13:46] x3003 opened #819 "dog is blocked"
In c1m1, this dog is still blocked and don't attack you when the gate is open.

![Screenshot_Doom_20210613_152702](https://user-images.githubusercontent.com/77861029/121809773-6e08e180-cc5e-11eb-80f2-7226da08d008.png)

[2021-06-13 13:49] x3003 opened #820 "comment boxes"
After a mission, you can't see comments from douglas and so anymore, because they are pushed out by this new comment boxes very fast.
And if you have multiple of those boxes, these disappear faster than you can read them.

![Screenshot_Doom_20210613_153028](https://user-images.githubusercontent.com/77861029/121809810-9a246280-cc5e-11eb-9db8-847b11fa3bf5.png)

[2021-06-13 13:56] Tormentor667 opened #821 "Alternate "Elsa" sprites"
Just got this from Captain J, I leave this for discussion if it is an option to use the new ones or the old improved ones.
![BoAElsaRedefined2](https://user-images.githubusercontent.com/10298439/121810147-f340c600-cc5f-11eb-813b-3e7f0573be84.PNG)

@Ozymandias81 by the way, did you add Captain J's sprite fixes for bosses yet?

[2021-06-13 14:01] Username-N00b-is-not-available commented on #821
The style of these is honestly clashing with other sprites we have, especially regarding the detail of weapon and uniform.
Is the cap glued to her head, BTW?

[2021-06-13 14:07] Tormentor667 commented on #817
a) It is intended
b) It's quite minor but if @AFADoomer is open to do it, I am okay with it
c) Fixed
d) Fixed
e) Fixed
f) This has been balanced a lot of times and will stay as is.

[2021-06-13 14:07] #817 closed

[2021-06-13 14:10] Tormentor667 commented on #815
Just taking care

[2021-06-13 14:10] #815 closed

[2021-06-13 14:15] Tormentor667 commented on #819
It's because dog can't traverse the 128 units low gap for the gate. Fixed it.

[2021-06-13 14:15] #819 closed

[2021-06-13 14:23] Tormentor667 commented on #818
Taken care of in 483b320e7b4baa98bce96f0ccaa365e12681d1fc as well

[2021-06-13 14:23] #818 closed

[2021-06-13 14:46] Tormentor667 commented on #724
Just uploaded all missing achievement graphics and fixed the gunslinger

[2021-06-13 14:48] MuadDib90 commented on #821
I must agree with N00b here. Don't make me wrong, but she looks like a steward with a gun, rather than a Nazi minion...

[2021-06-13 14:50] Username-N00b-is-not-available commented on #724
@MuadDib90 Can't confirm, I don't get this crash.
@AFADoomer Currently you can get Perfectionist at INTERMAP, not sure if it makes sense.

[2021-06-13 14:57] Username-N00b-is-not-available commented on #550
@AFADoomer A private repository has been added: https://github.com/Realm667/boa-addons
The contents differ from the last versions of addons in this thread, since yesterday I tried to fix them. Well, I succeeded mostly, but some help would be appreciated with the ```vampire``` one, as the blood level is not drawn correctly with Doom style (non-fullscreen) status bar.

[2021-06-13 15:48] mgrinzPlayer commented on #550
Which boa files did you use? From downloaded demo 7z packages or pulled from my project repo?

Or you are keeping not compressed files. I assume there is build_addons.cmd?

[2021-06-13 15:51] x3003 opened #822 "Can't get to the intermap"
When trying to end c1m1, talking to douglas I get an error and don't get to the intermap.

Error: Attempt to save pointer to unhandled type NativeStruct<font>

This work earlier in the day.

[2021-06-13 15:52] DoomJedi commented on #821
I admire Captain J graphic skills, no doubt about that. Big fan here.

But I'm not objective for this topic as this is meant to replace my art (and because of the ever buzzing question in my head "why only now, Captain J? Why only now? I spent 5 years on this project and now you want to remove me from BoA? Do I deserve such treatment, when my only "pay" for this is ability to see others play my ar

[2021-06-13 15:55] Username-N00b-is-not-available commented on #550
@mgrinzPlayer From one of the packages, honestly I don't remember which number... Maybe 10.
Yes, I am storing unzipped source files. As for the build commands, there are none yet, but I planned to them in the future. Also we should make the repo public so you can see the changes in addons.

[2021-06-13 15:57] AFADoomer commented on #822
What's the rest of the error?

[2021-06-13 16:00] mgrinzPlayer commented on #821
Maybe use it as add-on with "promoted by Realm667 team" text/description?
Since those are asset replacements:

Player can change those back and forth without issues.

[2021-06-13 16:04] Username-N00b-is-not-available commented on #808
Does not happen for me on PC.

[2021-06-13 16:04] mgrinzPlayer commented on #550
demo10 - 23May
demo11 - 26May
some boa files were updated on 30May

[2021-06-13 16:32] mgrinzPlayer commented on #550
What you think about this one:
https://github.com/mgrinzPlayer/BoaAddons

[2021-06-13 16:47] Username-N00b-is-not-available commented on #550
This way we would not be able to push commits, we'll have to pull request and wait for your approval every time we want to change something in them. By the way, I have already done some bugfixes on the addons yesterday on the repository that is now the Realm667 one.
Thank you for the batch file! I'll test it a bit later. I think that gameinfo.txt needs to be put in both files.

[2021-06-13 16:48] mgrinzPlayer commented on #550
That repo was just an example only.

[2021-06-13 16:50] Tormentor667 commented on #821
I put this here for discussion, it doesn’t mean that this is my opinion. Personally I’d stick to the one we already have.

[2021-06-13 17:11] Username-N00b-is-not-available commented on #550
OK, yes, the gameinfo is probably not needed anymore in pk3s.
I'd rather put 7za distribution in the repository, like we do with BoA, since not everyone has 7za in their PATH in Windows. I updated the repository with necessary changes and your script. Once again, thank you!

[2021-06-13 17:15] mgrinzPlayer commented on #550
by the way. 7za.exe is standalone, if you are creating only 7z or zip archives, you do not need dll files.

[2021-06-13 17:27] MuadDib90 commented on #724
Everything new again. Now it worked.

Tried C1M1 for some achievement hunting with god mode activated, and after finishing level it did not warped me to intermap, but rather kicked me to welcome screen with this line in console:

<code>Attempt to save pointer to unhandled type NativeStruct(Font)</code> (but those brackets were sharp, the code doesn't allow them to display them here)

[2021-06-13 17:34] x3003 commented on #822
That's it

![pointer](https://user-images.githubusercontent.com/77861029/121816872-65280800-cc7e-11eb-9fb3-99cf49195066.jpg)

[2021-06-13 17:36] AFADoomer commented on #822
OK, fixed in 20603beda3ffed9b07f6bc5d0d1dd46c74f69a70.

[2021-06-13 17:36] AFADoomer commented on #724
Resolved that problem in 20603beda3ffed9b07f6bc5d0d1dd46c74f69a70.

[2021-06-13 17:45] AFADoomer commented on #821
I also received a less modified variant from an anonymous source.

![ELSAA0](https://user-images.githubusercontent.com/16618820/121817141-2590fa00-cc45-11eb-8f5f-b8f0e3fdb53d.png)

[Alternate Elsa.zip](https://github.com/Realm667/WolfenDoom/files/6644382/Alternate.Elsa.zip)

[2021-06-13 17:52] x3003 commented on #822
This one seems fixed.

[2021-06-13 17:55] Username-N00b-is-not-available commented on #812
DAMN, my yesterday's commit broke the map (Douglas won't teleport at the blocking line). Time for a quick fix.

[2021-06-13 17:57] #822 closed

[2021-06-13 18:01] Tormentor667 commented on #821
That could also work and still keep @DoomJedi 's original concept.

[2021-06-13 18:16] Username-N00b-is-not-available commented on #759
No, it actually does happen, I can also see that on C1M5... Let's change the spawnheight to 27 again...

[2021-06-13 18:19] Tormentor667 commented on #759
I think the issue appears with tables being scaled. The table gets higher but the spawn height stays static.

[2021-06-13 18:25] AFADoomer commented on #820
This also should be fixed after 20603beda3ffed9b07f6bc5d0d1dd46c74f69a70.

[2021-06-13 18:28] Username-N00b-is-not-available commented on #759
@Tormentor667 The tables in C1M5 that display this effect are not scaled, their scale is 1 over X and 1 over Y.
By the way the old version had set the spawnheight to 1.15*scaley, yet there still was a problem (which you reported when opened this issue).

[2021-06-13 18:28] Tormentor667 commented on #811
a) Fixed
b) Fixed
c) Fixed
d) There are no 2nd pages, only 1 single page
e) Fixed
f) Yes, otherwise the boulders would just continue rolling over the ledge.
g) With a lot of effort yes, but this is so minor, we will leave it as is.

[2021-06-13 18:28] #811 closed

[2021-06-13 18:29] #820 closed

[2021-06-13 18:29] Tormentor667 commented on #759
Okay, this was just an idea but good if that's not the problem.

[2021-06-13 18:37] DoomJedi commented on #821
This is much more loyal to the original, and can fit in case you're bothered by that...nipple feedbacks. In case you do.

...don't want to demotivate Captain J to keep making good new sprites for BoA....

[2021-06-13 18:39] x3003 commented on #820
No, this isn't fixed yet. The message of Douglas after a mission still only appears very briefly, too short to read.

[2021-06-13 18:42] AFADoomer commented on #820
Which mission are you finishing?

[2021-06-13 18:45] x3003 commented on #724
The achievement system looks pretty cool, but will you also see them (for example) on an extended board in the general's room and after finishing a chapter ?

[2021-06-13 18:46] x3003 commented on #820
This time, c1m1 ;)

[2021-06-13 18:54] AFADoomer commented on #820
There is no Douglas message in INTERMAP after C1M1...

[2021-06-13 18:59] x3003 commented on #820
There is a message, but you can only see it very shortly before it disappers (0.5 sec or so). I only guessed it was from douglas, but it could be from someone else.

[2021-06-13 19:01] Username-N00b-is-not-available commented on #820
It is the briefing Douglas message from before C1M1.

[2021-06-13 19:08] x3003 commented on #820
That's still not right then.

[2021-06-13 19:23] AFADoomer commented on #820
Try after 211ded6e167e0a335a6c7d5d5716c9f460779caf.

[2021-06-13 19:57] x3003 commented on #820
It's fixed now. Thx.

[2021-06-13 20:00] AFADoomer commented on #724
All of these work as expected for me...

[2021-06-13 20:00] x3003 commented on #772
I think so. I also saved to a file (using ESC and the menu). It doesn't happen if you play on a while and come back to the safe.

[2021-06-13 20:06] Tormentor667 commented on #821
Well we don’t have to include all his work but maybe it would make sense to point him to our GitHub and two about things we need improvements for.

[2021-06-13 20:23] Username-N00b-is-not-available commented on #724
Also the 'gather 1000 coins' achievement won't workon my machine... Very strange.

[2021-06-13 20:29] Username-N00b-is-not-available opened #824 "[3.2] [Chapter 1] C1 playthrough"
Alright, so I decided to do a quick sanity check playthrough of C1 again, and here are problems and nitpicks I have found (minus ones to be posted to existing issues):

Important Issues (for fixing ASAP)
---

- [x] C1M5: the hedgehogs are not destroyed before the German attack anymore, blocking enemy soldiers and some player bullets. The enemies are still able to go through them, but only if you a

[2021-06-13 20:31] AFADoomer commented on #724
Using the give cheat resets the count on the coins and weapon types...

[2021-06-13 20:32] AFADoomer commented on #824
The scuba mask isn't a circle that is stretched; that's the shape of the graphic.

[2021-06-13 20:34] Tormentor667 commented on #824
Awesome that you took the time to do this. I will work on the fixes tomorrow (while watching the soccer championship ;))

[2021-06-13 20:37] Username-N00b-is-not-available commented on #724
Yes, it seems that I was using it too often... Spawning 10 TreasureChest2 treasures does help at obtaining it.
Are there any other culprits that could have given problems with Blast-resistant, Pesky Problems, Peaceful Solution?

[2021-06-13 20:42] AFADoomer commented on #724
Not that I know of.

I just tested Blast-resistant by finishing C1M1 without throwing grenades, killed myself my taking a bunch of health and spawning rats to bite me, and spawned/removed scientists until 5 surrendered, and was awarded as expected each time.

Are you sure you didn't already earn these achievements?

[2021-06-13 20:46] Username-N00b-is-not-available commented on #724
Well, here are the nonempty achievement records that I have: ```N4M5gzmDOoM7gz2DPYM/gz+DQINBg0ODRINFg0aDRw==``` and ```g0iDSYNKg0uDTINNg06DT4NQg1GDUoNTg1ODVQ==```.

[2021-06-13 20:50] AFADoomer commented on #724
Use the current build enter 'neteven printachievements' in the console 😁 .

[2021-06-13 21:11] Username-N00b-is-not-available commented on #724
Damn, ```logfile``` does not work properly in this devbuild for some reason, gives
[code]
Here's my list, and I can say that I definitely did not grab any Mayan artifacts in the achievement builds, nor did I kill 500 zombies, nor finished a level without manual reloads, that's for sure. It appears to me that the encoding/decoding system has a bug somewhere...
![image](https://user-images.githubuse

[2021-06-13 21:16] Username-N00b-is-not-available commented on #824
@AFADoomer Here's also one that might have been a GZDoom bug, but I can't reproduce it with Doom II. When you open the menu, the game stops as expected. Navigate to savegames (any of the two menus), press 'delete' on one of them and press 'escape', so it does not get deleted. This will unpause the game while you are still in menu.

[2021-06-13 21:17] AFADoomer commented on #724
Hmmm...  Have you ever cleared your achievements list?  The parsing changed a couple of times, so you may have some garbage in the system, so to speak.  Liquid Death is impossible to have awarded right now, so something's definitely off.

[2021-06-13 21:21] Username-N00b-is-not-available commented on #724
Then yes, there could be leftovers. Last time I deleted it was two days ago, when it still was a single string...
I'll clear it right now and try again testing the achievements tomorrow.

[2021-06-13 21:23] Ozymandias81 commented on #821
I think it is better to stay faithfull to Max style, so I would totally go for altElsa add.

[2021-06-13 22:18] x3003 commented on #788
With the latest git version, somehow the right light is now off and can't be turned on.

![Screenshot_Doom_20210614_001033](https://user-images.githubusercontent.com/77861029/121823512-ec3ca680-cca5-11eb-905f-dc3dec3ac81d.png)

[2021-06-13 22:21] x3003 opened #825 "Another dog blocked"
In c1m1, this dog is also blocked as he should attack when the gate is open.

![Screenshot_Doom_20210614_000306](https://user-images.githubusercontent.com/77861029/121823561-4dfd1080-cca6-11eb-8883-e24010bb8e31.png)

[2021-06-13 22:27] x3003 opened #826 "No achievement shown anymore."
In the latest git version, the achievement isn't shown anymore.

In an earlier version from yesterday it still worked:

![Screenshot_Doom_20210613_174413](https://user-images.githubusercontent.com/77861029/121823618-b946e280-cca6-11eb-927d-4a975bb328a3.png)

[2021-06-13 23:09] Phredreeke commented on #821
I would strongly suggest restoring the original Elsa sprites, as to avoid the appearance of giving in to everything DW asked for (the change can hardly be justified as required by German law)

[2021-06-13 23:24] Ozymandias81 commented on #825
There is a line there which blocks the passage for the dog so it won't stuck behind the polydoor once opened, in case it doesn't get killed before. @Tormentor667 should we change it? The change was done for a purpose

[2021-06-13 23:30] Ozymandias81 commented on #821
I added that set of sprites and nothing else, what we decide belong to us first, then we also take in consideration feedbacks but not acting like robots, no worries. We are not giving everything. So we keep chast sprites for Elsa @Tormentor667 ?

[2021-06-13 23:30] AFADoomer commented on #826
Which achievement?  Which map?  Did you already get this achievement once?

[2021-06-13 23:32] Ozymandias81 commented on #788
I still didn't check the map, will do when I can.

[2021-06-13 23:36] Ozymandias81 commented on #824
Flats and models may depend by some issues introduced in gzdoom, they were not present on c3 release

[2021-06-14 00:15] hawkwind3 commented on #811
Regarding d) , then the advisory to use left and right arrows to turn the page should be removed.

[2021-06-14 00:39] AFADoomer commented on #811
I split the paper string and added logic to check for multiple pages in 27ecf8f762f44504036b80e2b6a2942d7268c3ba.

[2021-06-14 00:40] hawkwind3 commented on #817
Regarding a), being intended is a shame I think. Just looks wrong. As I said before, this can be fixed. I can post a map example of the fix if needed.

[2021-06-14 00:46] AFADoomer commented on #817
For b)...  If someone makes a version of the hud bar with no grenade graphic, I can set it up like the fullscreen hud so that it shows the appropriate grenade icon based off of your inventory.

...or an Astrostein-themed replacement graphic that matches the same general layout.  It's easy enough to swap images in the status bar code.

[2021-06-14 01:31] AFADoomer commented on #697
Because they are 2 pixels higher relative to the floor that the player is standing on than the ones in the entry corridor are to the floor there.

[2021-06-14 02:32] AFADoomer commented on #724
Crap...  Didn't realize that...  Maybe this should be changed so that there's one per Chapter?  The current Naziwards are in C3M0_A and C2M3.  Would be fitting to do the Cacoward in C1 and the Keen award in C3, given what both were awarded for.  Thoughts?

[2021-06-14 05:01] MuadDib90 commented on #724
When I try to print achievements @AFADoomer using your command "netevent printachievements", I get a VM abort:

VM execution aborted: string format failed. Expected a pointer for format % p.
Called from AchievementTracker.NetworkProcess at boa.ipk3:scripts/eventhandlers/tracker.zs, line 514
Called from Console.Printf [Native]

[2021-06-14 05:33] hawkwind3 opened #827 "Minesweeper"
Correct me if I'm wrong, but I noticed that the depleted minesweeper still stays in the HUD. Is there a way to recharge the minesweeper, similar to oil for the lantern ?

[2021-06-14 06:53] MuadDib90 commented on #827
Afaik no.
You can either buy a new one, or you can find one on some maps (currently on intermap; C1M3; C3M0_A; -- and maybe one another but I don't remember). Getting a one from a map works as "refilling" to 100 % through.

[2021-06-14 07:16] Ninlhil commented on #821
I'd say either use the new ones with the added bra, or keep the originals. I mean, the entire thing is a homage to "Ilsa; She Wolf of the SS", so moving too far away from that doesn't make sense.

[2021-06-14 07:35] Ninlhil commented on #803
Out of curiosity, does there need to be a German version that replaces the Swastikas with the Wolfenstein symbol?

[2021-06-14 08:13] Username-N00b-is-not-available commented on #825
This way the dog also 'patrols its area' and can lure a curious but unsuspecting player into the AK officer to the left, I think it is a remarkable effect.

[2021-06-14 08:37] Username-N00b-is-not-available commented on #724
@MuadDib90 There is a problem with displaying percent signs, could you please change the ones in Czech translation to word 'percent' for now?

[2021-06-14 08:38] Ozymandias81 commented on #827
As MuadDib90 said, you can't. Doesn't work like lanterns, this way you are forced to buy a new one or find a new one inside maps.

[2021-06-14 08:39] Ozymandias81 commented on #821
We gonna use CJ sprites for a new female boss, just for the record. And we gonna use chast sprites for Elsa.

[2021-06-14 09:26] Username-N00b-is-not-available commented on #724
@AFADoomer Retested from nonexistent CVARs, and I would say that there definitely is a problem. I warped to TEST_LDR, completed some achievements like Chevalier and 4077, then I warped to C1M0, and miraculously a lot of new ones have popped up in the list (shown in green at the bottom part of the attached screenshot):

![achievements](https://user-images.githubusercontent.com/59409713/121870229-7f

[2021-06-14 09:39] MuadDib90 commented on #827
Exactly.

[2021-06-14 09:45] MuadDib90 commented on #724
Sure, done. :)

[2021-06-14 10:30] MuadDib90 commented on #724
@AFADoomer I completed C3M4 without a mask on (also without god mode) and nothing earned.

[2021-06-14 10:57] hawkwind3 commented on #827
So then, can a depleted minesweeper, which is absolutely useless, be removed from the HUD when it reaches 0% ?

[2021-06-14 11:27] MuadDib90 commented on #827
I am afraid it is not removed from inventory after hitting zero. Right @AFADoomer ?

And that high rate is on purpose, I think. If not, I'd suggest to keep it this way. (IMHO to have infinite charge, or finite but so much  you are nearly unable to use it all - so you don't mind actualy - it lacks the sense of having something only in little and try to save it, also it removes the stress when using

[2021-06-14 11:45] AFADoomer commented on #724
The encoding/decoding has broken at some point for all but the first variable. I'll have to redo it tonight. This causes achievements to not award because they incorrectly show up as already awarded.

[2021-06-14 13:05] hawkwind3 commented on #827
I was thinking of a compromise. Still deplete the charge of course, but not so much a rapid rate.

________________________________
From: MuadDib90 ***@***.***>
Sent: Monday, 14 June 2021 9:27 PM
To: Realm667/WolfenDoom ***@***.***>
Cc: hawkwind3 ***@***.***>; Author ***@***.***>
Subject: Re: [Realm667/WolfenDoom] Minesweeper (#827)

I am afraid it is not removed from inventory after hitting zero.

[2021-06-14 14:00] Username-N00b-is-not-available commented on #623
![coop](https://user-images.githubusercontent.com/59409713/121903547-18513980-cd31-11eb-8256-9ca22712e1d3.png)

I have just launched two copies of BoA on one machine into a network game as suggested [here](https://zdoom.org/wiki/Multiplayer#Technical_details) (used ```boa -host 2 +map c2m3 +skill 0``` and ```boa -join 192.168.X.X``` with my current local IP address), and was pleasantly surprised:

[2021-06-14 14:10] Username-N00b-is-not-available commented on #724
@MuadDib90

Could you please also do the ACHIEVEMENT1 one? The current version does not trigger a VM abort, but I'd remove the percent signs to be sure.

[2021-06-14 14:19] MuadDib90 commented on #724
As you wish. Done.

[2021-06-14 14:38] Username-N00b-is-not-available commented on #563
I have just started working on this to implement @Ozymandias81's plan.

[2021-06-14 16:30] Tormentor667 commented on #563
Very good!

[2021-06-14 16:32] Tormentor667 commented on #623
I think this sounds promising and defintitlely solvable

[2021-06-14 16:33] Tormentor667 commented on #821
CJ sprites for a new boss, Else alternate sprites with the bra

[2021-06-14 16:33] #825 closed

[2021-06-14 16:34] Tormentor667 commented on #803
No, swastikas are allowed to be shown in games since 2018 afaik

[2021-06-14 16:35] Tormentor667 commented on #817
I can take care of that in a few minutes.

[2021-06-14 16:36] Tormentor667 commented on #811
Very good @AFADoomer

[2021-06-14 17:07] #802 closed

[2021-06-14 17:07] Tormentor667 commented on #802
I guess this is fixed then.

[2021-06-14 17:08] Tormentor667 commented on #550
So anything we need to change about the launcher right now or is it ready (despite making the addons compatible again) for 3.1?

[2021-06-14 17:09] Tormentor667 commented on #558
@Ozymandias81 do you think you can take of italian or find someone of your friends and people around you who can do that?

[2021-06-14 17:10] Tormentor667 commented on #572
Is this still active @Talon1024 @AFADoomer ?

[2021-06-14 17:10] Tormentor667 commented on #673
Is this minor enough to simply close it?

[2021-06-14 17:11] Tormentor667 commented on #675
Nisaba is working on it but it will take a while as she has other things to do atm.

[2021-06-14 17:12] Tormentor667 commented on #682
Updated first post

[2021-06-14 17:13] Username-N00b-is-not-available commented on #550
I would like to have [localization](https://github.com/Realm667/WolfenDoom/issues/550#issuecomment-846596696) implemented in the launcher (that means @mgrinzPlayer would need to export the strings into a file and use identifiers in the executable), but it would raise another problem of how to gather the translators again to do it, so we possibly can live without it.

[2021-06-14 17:13] Tormentor667 commented on #697
So should we just lower the rotating lasers by two map units and we are done?

[2021-06-14 17:14] Tormentor667 commented on #708
It would be nice to have but it isn't high priority. If @AFADoomer is interested in coming up with something, we can implement it.

[2021-06-14 17:15] Tormentor667 commented on #753
Well, if you or @Ozymandias81 are willed to change that, I am definitely okay with it. By the way, other than that, is this issue closed?

[2021-06-14 17:17] Tormentor667 commented on #758
@Talon1024 do you have an idea what could be done here from the mod's perspective? Otherwise I'd close this.

[2021-06-14 17:17] AFADoomer commented on #708
Yeah, low priority for 3.1.  I have some mostly working code,  but it needs polish and I haven't had time to do it.

[2021-06-14 17:17] Tormentor667 commented on #762
So after your recent commit, this is done, right @AFADoomer ?

[2021-06-14 17:17] AFADoomer commented on #697
I think that would fix it.  Needs to be tested for each level.

[2021-06-14 17:18] Tormentor667 commented on #770
The player doesn't know about the tank until he finds it, so this can't be made an objective.

[2021-06-14 17:19] Username-N00b-is-not-available commented on #753
@Tormentor667 No, not closed yet, @Ozymandias81 wanted to add [brightmaps](https://github.com/Realm667/WolfenDoom/issues/753#issuecomment-856152695).
A bit later I'll see what could be done with the MGTurret.

[2021-06-14 17:20] AFADoomer commented on #762
Yes.

I generalized the setup so that if we want to, we can easily assign a unique "use fail" sound to any texture.  The only thing set up right now is the locked doors, basically matching 3.0 behavior.

[2021-06-14 17:22] Tormentor667 commented on #774
Fixed.

[2021-06-14 17:22] #774 closed

[2021-06-14 17:25] Tormentor667 commented on #776
Fixed the misalignments. For a) and b) we need coords.

[2021-06-14 17:31] Username-N00b-is-not-available commented on #776
a) happens always. If the surrendered enemies block player movement, it would be impractical to let them live at all (as they are only a hindrance). We can make them solid and pushable, but they will still obviously mess with the player's movement in tight corridors and frustrate them.

[2021-06-14 17:32] #777 closed

[2021-06-14 17:33] Talon1024 commented on #758
The footstep code appears to play the sound at the player's position, so I don't know what can be done.

[2021-06-14 17:35] #780 closed

[2021-06-14 17:39] Tormentor667 commented on #781
I don't see that, the sectors have all the brightness level 128.

[2021-06-14 17:40] Tormentor667 commented on #781
This has already been fixed. Do you play the latest version?

[2021-06-14 17:42] Tormentor667 commented on #788
The right light depends on the chapter you are playing. If you are in C2 and collect mayan artifacts, the light is on. It's off in C1 and C3 though as this part of the lab isn't active.

[2021-06-14 17:42] #788 closed

[2021-06-14 17:43] Tormentor667 commented on #795
After all issues have been resolved, we can safely close this. Well done all together!

[2021-06-14 17:43] #795 closed

[2021-06-14 17:44] Tormentor667 commented on #797
Now that everything has been discussed and taken care of, we can safely close this. Thanks here as well!

[2021-06-14 17:44] #797 closed

[2021-06-14 17:44] #803 closed

[2021-06-14 17:44] Tormentor667 commented on #803
As no more changes are planned, this can be closed.

[2021-06-14 17:45] Tormentor667 commented on #808
Can you create a few more screenshots from other angles and positions? I have no idea what that could be

[2021-06-14 17:45] x3003 commented on #826
I reloaded this map (c1m1) from earlier and finished it [only 3 to go], but no achievement. The pic shown is from an earlier build where I did get it.

[2021-06-14 17:46] Tormentor667 commented on #827
Well, I'd suggest as soon as the mine-sweeper's energy reaches 0%, it can be removed from the inventory.

[2021-06-14 17:47] x3003 commented on #825
No one does this. They all shoot the dog first ;)

[2021-06-14 17:48] Tormentor667 commented on #550
Well, a localization would be nice to have indeed. We could do our native languages manually and the rest with DeepL. No complicated translations anyway, right?

[2021-06-14 17:49] Username-N00b-is-not-available commented on #550
Hopefully :-D

[2021-06-14 17:51] AFADoomer commented on #826
Achievements don't care about save games.  If you complete them, ever, you complete them.

There is a problem right now with everything past the first 16 achievements being saved properly across games, though, that I will fix tonight.

[2021-06-14 17:51] AFADoomer commented on #808
This is almost certainly a Delta Touch issue.

[2021-06-14 18:12] MuadDib90 commented on #827
Yeah, that is totaly agree-able.

[2021-06-14 18:24] Tormentor667 commented on #697
Fixed.

[2021-06-14 18:24] #697 closed

[2021-06-14 18:28] Tormentor667 opened #828 "[3.1] Pitch after flinch stays as is"
I noticed that sometimes my viewport pitch stays as is after being injured:

![grafik](https://user-images.githubusercontent.com/10298439/121940887-e058ef00-cd4e-11eb-87ed-78f5d728f2a9.png)

Strangely I can only reproduce this on Astrostein and on this specific place.

[2021-06-14 18:33] AFADoomer commented on #828
Interesting.  Any specifics in how to recreate this?  I'm pretty sure this code essentially hasn't been changed for a very long time.

[2021-06-14 18:35] #758 closed

[2021-06-14 18:35] Tormentor667 commented on #758
Let's close this for now, I consider it to be very minor.

[2021-06-14 18:35] #762 closed

[2021-06-14 18:38] Tormentor667 commented on #828
Well, I am using today's built of boa.ipk3, C2M0_B from this commit 5093b7d3d0489b3be0fe7c1e985021ddc4a1e29b and GZDoom g4.6.0 from 2021-05-22 (stable). I them warp to C2M0_B, activate buddha, "puke 230" (for the lasers to appear) and run into the room like a kamikaze. When taking damage, there is a chance that the wrong pitch stays.

[2021-06-14 18:39] MuadDib90 commented on #682
@Username-N00b-is-not-available did the message poped up for you? For me not... :confused:

[2021-06-14 18:39] AFADoomer commented on #758
Agreed.  I have no idea how to fix it, anyway, since the sound plays literally from the player...  Might be able to fiddle with the attenuation, but no idea beyond that.

[2021-06-14 18:44] Username-N00b-is-not-available commented on #682
@MuadDib90 I have only added it to the CSV, not on the map.

[2021-06-14 18:46] Tormentor667 commented on #682
Can you add it on the map as well?

[2021-06-14 19:25] Username-N00b-is-not-available opened #829 "GetMessageTime is way too generous"
Even with a small message like this, the head continues talking for around **36 seconds**, and the text stays on screen for slightly less than **50 seconds**. (In a slow voice I would read it aloud in 6 seconds.)
It severely messes up with dialogue timing in Ryan battle (and likely in many more other places), he is dead long before his last wish starts printing.
![Screenshot_BoA_20210614_221634](h

[2021-06-14 19:29] MuadDib90 commented on #682
Ah, sorry, that explains it. :sweat_smile:

[2021-06-14 19:51] Tormentor667 commented on #735
Thanks a lot! Glad that you are back and active again btw :)

[2021-06-14 19:52] x3003 commented on #826
I **just** played / finished a game (c1m1, lowest difficult) from scratch with today's build, and no achievement given, although I got a 100% score.

[2021-06-14 19:53] AFADoomer commented on #826
Yes, did you read my last post?

[2021-06-14 22:12] Ozymandias81 commented on #828
To reproduce it, simply place the playerstart on a place near enemies, type immediately iddqd but make sure they hit you one time.

[2021-06-14 22:13] Ozymandias81 commented on #821
Yes I'm doing it.

[2021-06-14 22:16] Ozymandias81 commented on #558
I need some free time in my hands first, but I'l also see if someone can help.

[2021-06-14 23:11] Talon1024 commented on #828
The only reason for this bug that I can think of is the refactored Tilt++ code might interfering with the flinch pitch somehow. However, the refactored Tilt++ code should only affect "tilted" levels, like the airship (C3M5_C) after destroying the engines.

[2021-06-14 23:13] Talon1024 commented on #829
Here's the GetMessageTime code:

https://github.com/Realm667/WolfenDoom/blob/d009f1b2bb10b19f9c5a39066eec4264fef76297/scripts/libraries/zstools.zs#L480

[2021-06-14 23:49] hawkwind3 commented on #776
coords as requested for b) ... sorry 'bout that ...
x 16941, y 1860

[2021-06-15 00:22] AFADoomer commented on #829
I can tweak it some...  but it's literally the same as the old ACS version, just transliterated to ZScript.

[2021-06-15 01:22] AFADoomer commented on #826
Reset your achievements (boa_resetachievements) and try again with the current build.

The achievement CVars were not being saved/read properly, so random achievements past the first 16 were incorrectly being marked as already complete and then not being awarded because the code thought that they were already done.

[2021-06-15 01:40] AFADoomer commented on #817
Added code to change the grenade icon on the traditional hud based on presence of Astrostein grenade tokens in bdd17a2091f3e794dae37c6e9266c23e21e160ff.

[2021-06-15 02:19] AFADoomer commented on #829
This message only shows up for 5-7 seconds for me...  Both in the real map and in TEST_DLG.

[2021-06-15 02:41] hawkwind3 opened #830 "C2M0_B scrolling doortak fix"
C2M0_B scrolling doortraks

Attached is the doortak scrolling fix for map c2m0_b. I was told that the scrolling was intentional, but this normally is not a good look.
[C2M0_B.zip](https://github.com/Realm667/WolfenDoom/files/6652400/C2M0_B.zip)
This is an update to the latest in the code uploaded 8hrs ago.

[2021-06-15 02:43] AFADoomer commented on #827
Minesweeper is now removed from inventory when depleted, as of 47d393d84d09a4f136e6a4372a4bce1eea9b9ac9.

[2021-06-15 04:00] AFADoomer commented on #829
Should be fixed in bb74c1383b5615ea27acd42a5a13e86b2bc311fd.  When I fixed the achievement messages to 'stack' their display time when multiple are on screen at once, I forgot to add logic to *not* apply that time 'stacking' to all of the other messages in the queue...

[2021-06-15 04:09] AFADoomer commented on #816
It already shows up on statist NPCs.  Any FRIENDLY, SHOOTABLE actor will show it, except that this Ryan is being set to non-shootable in ACS.

[2021-06-15 04:13] AFADoomer commented on #816
Should be fixed in 9f65564fbb8e51235529f055e8b525f47958fa80.

[2021-06-15 04:16] AFADoomer commented on #778
@Username-N00b-is-not-available - Can you confirm if this (iddqd message) is still a problem?  I tweaked the message log to always intercept messages, so I think this is fixed.

I don't know what the obituary problem is.

[2021-06-15 05:36] AFADoomer commented on #724
Just updated the tracker in be5ce615c9753e0e85561bb5e6dea4ca41788fb4.  System time for when you completed the achievement is now stored in the CVar.

Achievements probably all need to be cleared to make sure they show up correctly now...  The number of achievements being stored per CVar was off by one from the proper value, so they may decode incorrectly now (and any that you completed will be dat

[2021-06-15 05:44] Username-N00b-is-not-available commented on #724
@AFADoomer It was suggested a few times here on GitHub that we show the achievement list in conjunction with the map stats screen, maybe not on the blackboard itself but rather on a sheet of paper (we could use left/right arrows to switch between stats/achievements and up/down to scroll the achievements list).
By the way, if/when we add some new achievements in the future, will the current storage

[2021-06-15 06:32] Username-N00b-is-not-available commented on #778
@AFADoomer

Have you committed the changes? As of https://github.com/Realm667/WolfenDoom/commit/be5ce615c9753e0e85561bb5e6dea4ca41788fb4 the iddqd issue still happens for me.

[2021-06-15 06:35] Username-N00b-is-not-available commented on #829
Yes, this is fixed, thank you very much!

[2021-06-15 06:35] #829 closed

[2021-06-15 06:54] hawkwind3 opened #831 "C1M4 overhead light issue"
C1M4 ...

Overhead light beam at x 4697, y 6089 is too high.

[2021-06-15 07:10] MuadDib90 commented on #724
I was thinking about something similar to @Talon1024's message log? Slightly greyish background, and game is paused, so you have time to read all of that. But instead of displaying messages, we can display all achievements in similar manner as "tiles" in windows. Those achieved ones in color, those still unachieved in dark grey (but not much so you can still read it). And it is also srollable, so

[2021-06-15 07:29] #827 closed

[2021-06-15 09:22] mgrinzPlayer commented on #550
Localizing the launcher - it won't have many strings to translate. I can prepare PO file. But, before that, do you have any suggestions for current english version?

Plus, currently add-ons have only English "description" and "creditsFull" inside .boa files. Do you want to translate those too?

If yes, then I would suggest something like this: creditsFull_{langCode} and description_{langCode}.
[co

[2021-06-15 10:14] Username-N00b-is-not-available commented on #550
The current English version is fine except a few nitpicks:
- 'addon' should be used as the preferred spelling I think (there are some lines with ```add-on``` spelling), this refers to 'Select multiple add-ons', 'Blade of Agony: add-ons multiselect', 'Available add-ons', 'Selected add-ons and order';
- 'missing requirements' is better to be changed to just 'None';
- 'Click to' in 'Click to scan for

[2021-06-15 10:56] mgrinzPlayer commented on #550
as I wrote earlier:

"missing ....." text is the indicator that .boa file doesn't have proper data. Treat it like debug info.

grenades_only has "requirements" filled in. You can add requirements to other addons like: "Start new campaign.", "None.", "Bind {newfunctionality} key in customize controls menu."

I can use LazGetShortLanguageID to get system language code. It returns "en", "pl", "ru", e

[2021-06-15 16:32] Ozymandias81 opened #832 "Sprites which needs coop friendly rotations and fixes; Bosses and half-dead should be excluded"
Here we go guys, I have spent a lot of time cherry-picking frames to understand which ones should be important to point out to CJ or someone else. The fundamental thing is to stay necessarily faith full to original frontal frame, and then have 5 or 8 rotations is up to artist choice. Let's see then:

- [ ] Sprites to fix (camo remnants over legs): ARH2F8-G8-H8-I8, ARMHF8-G8-H8-I8, MAH2F8-G8-H8-I8,

[2021-06-15 16:35] Ozymandias81 commented on #753
I'll see if I can correct myself those sprites, if necessary, because I need them done in order to work then for bmaps after.

[2021-06-15 17:09] MuadDib90 opened #833 "[3.2] C2M4"
- [x] There is set some limit to how "low" you can aim when Douglas drives you near the bunker. This limit is... well limiting... in some cases (moving uphill or enemies very close) you can't properly aim (meaning you aim at all, because that limit doesn't let you to aim). Can it be canceled?
- [x] This was there countless times but it shows again. When you drove to your destination and got out, t

[2021-06-15 17:22] Username-N00b-is-not-available commented on #833
@MuadDib90 1) Then you will be able to shoot through the truck... You can't always aim immediately, but it is easier to hit targets which you have already left behind, for example. Maybe it could be adjusted a few degrees though, but I wouldn't remove it (well, being the person who proposed to added it in the first place).

[2021-06-15 17:34] MuadDib90 commented on #833
Ah, OK then. Then just slight adjust would be cool too imho. :)

[2021-06-15 17:50] Ozymandias81 commented on #832
I'll strikethrough frames completed.

[2021-06-15 18:20] Ozymandias81 commented on #830
Which doors and in which place please?

[2021-06-15 18:22] Username-N00b-is-not-available commented on #830
@Ozymandias81 Most probably a) in https://github.com/Realm667/WolfenDoom/issues/817#issue-919706136.

[2021-06-15 18:38] Username-N00b-is-not-available commented on #623
There is also such a thing as deathmatch, and it could be even easier to complete for us — if we manage to find map parts which could make good DM maps. For example, here is what can be done with the C2M4 town (WAD in zip): [boa_dm.zip](https://github.com/Realm667/WolfenDoom/files/6657881/boa_dm.zip)
I tested it with zcajun bots, and it actually seems quite enjoyable, here are some problems/notes

[2021-06-15 18:48] Username-N00b-is-not-available commented on #795
@Tormentor667 As seen from UDB, there are still some images of Nazi racial propaganda left among the textures, specifically IMAG_F03, IMAG_R80, IMAG_R85, IMAG_UNT. NPAPER03 is also not removed from files.

[2021-06-15 19:01] Username-N00b-is-not-available commented on #816
Yes, it is fixed now.
![Screenshot_BoA_20210615_215806](https://user-images.githubusercontent.com/59409713/122108384-cdb0e980-ce24-11eb-91da-a21171dfceb2.png)
I wonder if there are such 'cardboard' actors on other maps...

[2021-06-15 19:01] #816 closed

[2021-06-15 19:04] DoomJedi commented on #623
You can use also some scrapped art, like snow russian etc.

[2021-06-15 20:01] x3003 commented on #833
Well, he does react, but only to the enemies that come out the nearest building. Not to other enemies and dogs.

[2021-06-15 21:13] x3003 opened #834 "Doors never close"
In c1m1, these doors never close. All other doors in the game seems to do so, but not these ones.

![Screenshot_Doom_20210615_213228](https://user-images.githubusercontent.com/77861029/122124098-19689080-ce2f-11eb-898a-1cb956755eab.png)

[2021-06-15 21:35] x3003 opened #835 "Doorhandles missing."
In c1m1 (and maybe others ?) these doors, don't have (moving) handles. These handles look broken anyway. How would someone open a door with these anyway ?

![Screenshot_Doom_20210615_215334](https://user-images.githubusercontent.com/77861029/122126469-11f6b680-ce32-11eb-9946-ce0e95e9e37d.png)

But in another building, you'll find these, which have moving handles.

![Screenshot_Doom_20210615_232420

[2021-06-15 21:41] x3003 opened #836 "Weird issue."
In c1m1, get to this room.

![Screenshot_Doom_20210615_232553](https://user-images.githubusercontent.com/77861029/122127004-d8727b00-ce32-11eb-9dea-42c38d5ffc68.png)

It has a scientist in it. But if you rush the map and don't take the time to save, just run, you'll see a guard, which transforms into a scientist. I've tried it a few times now. It doesn't work when you're slow, only when you sprint

[2021-06-15 22:08] Ozymandias81 commented on #834
That's a decision made since C2 release by DoomJuan and it is important for gameplay reasons.

[2021-06-15 22:08] #834 closed

[2021-06-15 22:10] Ozymandias81 commented on #835
They have handles, making them move would also require a major rework over textures... but I see you are not playing with boa_dt.pk3 to see displacement materials, which turn them more 3d. Try with that first

[2021-06-15 22:13] Ozymandias81 commented on #836
Could belong to inheritances between actors, since the base code inherit to BasicGuard most probably, but how fast are you running to provoke it? Can you make a video of it? Is it possible only with cheats? Which version of GZDoom? Are you playing with C3 release or a daily build from this repository?

[2021-06-15 22:35] x3003 commented on #835
I play the git version w/o dt.pk3

[2021-06-15 22:37] x3003 commented on #836
Just run and fire fast. No cheats. Latest version of gzdoom. Ofcourse git version of boa....

[2021-06-15 22:48] Ozymandias81 commented on #795
IMAG_R80 still needs to be replaced. Pardon my ignorance, what's the issue wit NPAPER03?

[2021-06-15 22:51] Ozymandias81 commented on #835
That screenshot doesn't have and in the end it is a very minor detail, don't you think @Tormentor667 ?

[2021-06-15 22:55] Shockwave508 opened #837 "[Delta Touch?] INTERMAP/Chapter 1: Douglas' dialogue lingers onscreen if tutorial is completed rather quickly."
If you blaze your way through the Chapter 1 Tutorial, Douglas' dialogue will persist onscreen long after the tutorial has finished.
![Screenshot_2021-06-14-11-01-24-942_com opentouchgaming deltatouch](https://user-images.githubusercontent.com/32436386/122133728-e3151c00-ce02-11eb-8584-a5b8e009703b.jpg)

[2021-06-15 23:13] Ozymandias81 commented on #837
Delta-Touch?

[2021-06-16 03:57] hawkwind3 commented on #830
Using the uploaded version, doortraks for sectors 278, 294, 352, 356, 765, 621,618, 1011, 1025, 1028, 2571, 2568, 2556, 2559,
6977, 6974, 6962 and 6969. Note new sectors attached to these.